dynamix/force-app/main/default/flows/Approval_Process_for_Campaign_on_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Submit_For_Approval</name>
        <label>Copy 1 of Submit For Approval</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForBudget_StartDate_EndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Submit_For_Approval</name>
        <label>Copy 2 of Submit For Approval</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForBudget_StartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Submit_For_Approval</name>
        <label>Copy 3 of Submit For Approval</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForBudget_EndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Submit_For_Approval</name>
        <label>Copy 4 of Submit For Approval</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForStartDate_EndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Submit_For_Approval</name>
        <label>Copy 5 of Submit For Approval</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForStartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Submit_For_Approval</name>
        <label>Copy 6 of Submit For Approval</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>SubmissionCommentForBudget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_on_Planned_Budget_Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_Updated_Fields</name>
        <label>Checking Updated Fields</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Budget_StartDate_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Submit_For_Approval</targetReference>
            </connector>
            <label>IF Budget,StartDate,EndDate</label>
        </rules>
        <rules>
            <name>IF_Budget_StartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Submit_For_Approval</targetReference>
            </connector>
            <label>IF Budget,StartDate</label>
        </rules>
        <rules>
            <name>IF_Budget_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Submit_For_Approval</targetReference>
            </connector>
            <label>IF Budget,EndDate</label>
        </rules>
        <rules>
            <name>IF_Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_For_Approval</targetReference>
            </connector>
            <label>IF Budget</label>
        </rules>
        <rules>
            <name>IF_StartDate_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Submit_For_Approval</targetReference>
            </connector>
            <label>IF StartDate,EndDate</label>
        </rules>
        <rules>
            <name>IF_StartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Submit_For_Approval</targetReference>
            </connector>
            <label>IF StartDate</label>
        </rules>
        <rules>
            <name>IF_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Submit_For_Approval</targetReference>
            </connector>
            <label>IF End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_To_Trigger_Approvals</name>
        <label>When To Trigger Approvals</label>
        <locationX>1656</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger_Condition_1</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_Planned_Budget__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Prior_values</targetReference>
            </connector>
            <label>Trigger Condition 1</label>
        </rules>
        <rules>
            <name>Trigger_Condition_2</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6) OR (7 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_Planned_Budget__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActualCost</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Planned_Budget__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prior_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Prior_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Store_Prior_values</targetReference>
            </connector>
            <label>Trigger Condition 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Approval Process for Campaign2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Process for Campaign on update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Store_Prior_values</name>
        <label>Copy 1 of Store Prior values</label>
        <locationX>2074</locationX>
        <locationY>431</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checking_Updated_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Prior_End_Date__c</field>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Planned_Budget__c</field>
            <value>
                <elementReference>$Record__Prior.ActualCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Start_Date__c</field>
            <value>
                <elementReference>$Record__Prior.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Store_Prior_values</name>
        <label>Store Prior values</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Checking_Updated_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Prior_End_Date__c</field>
            <value>
                <elementReference>$Record__Prior.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Planned_Budget__c</field>
            <value>
                <elementReference>$Record__Prior.ActualCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Start_Date__c</field>
            <value>
                <elementReference>$Record__Prior.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1530</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>When_To_Trigger_Approvals</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SubmissionCommentForBudget</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Planned Budget Has been updated from {!$Record__Prior.ActualCost} to {!$Record.ActualCost}.
So, Please Review the details.</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionCommentForBudget_EndDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Planned Budget Has been updated from {!$Record__Prior.ActualCost} to {!$Record.ActualCost}.
End Date has been changed from {!$Record__Prior.EndDate} to {!$Record.EndDate}.
So, Please Review the details.</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionCommentForBudget_StartDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Planned Budget Has been updated from {!$Record__Prior.ActualCost} to {!$Record.ActualCost}.
Start Date has been changed from {!$Record__Prior.StartDate} to {!$Record.StartDate}.
So, Please Review the details.</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionCommentForBudget_StartDate_EndDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Planned Budget Has been updated from {!$Record__Prior.ActualCost} to {!$Record.ActualCost}.
Start Date has been changed from {!$Record__Prior.StartDate} to {!$Record.StartDate}.
End Date has been changed from {!$Record__Prior.EndDate} to {!$Record.EndDate}.
So, Please Review the details.</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionCommentForEndDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>End Date has been changed from {!$Record__Prior.EndDate} to {!$Record.EndDate}.
So, Please Review the details.</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionCommentForStartDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Start Date has been changed from {!$Record__Prior.StartDate} to {!$Record.StartDate}.
So, Please Review the details.</text>
    </textTemplates>
    <textTemplates>
        <name>SubmissionCommentForStartDate_EndDate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Start Date has been changed from {!$Record__Prior.StartDate} to {!$Record.StartDate}.
End Date has been changed from {!$Record__Prior.EndDate} to {!$Record.EndDate}.
So, Please Review the details.</text>
    </textTemplates>
</Flow>
