dynamix/force-app/main/default/flows/Booking_5_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_for_Less_than_5</name>
        <label>Approval for Less than 5%</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Booked_status_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_5_Payment_Received_or_not</name>
        <label>Checking 5% Payment Received or not</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IF_Payment_less_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_Received__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FivePercentOfAggrmentVal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_Received__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Amount_Received__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_for_Less_than_5</targetReference>
            </connector>
            <label>IF Payment less than 5%</label>
        </rules>
        <rules>
            <name>If_payment_id_greater_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_Received__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FivePercentOfAggrmentVal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_booked_0</targetReference>
            </connector>
            <label>If payment id greater than 5%</label>
        </rules>
        <rules>
            <name>If_Payment_Revert_and_less_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Amount_Received__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FivePercentOfAggrmentVal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_Received__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Amount_Received__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_5_Check_Box</targetReference>
            </connector>
            <label>If Payment Revert and less than 5%</label>
        </rules>
    </decisions>
    <formulas>
        <name>FivePercentOfAggrmentVal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Agreement_Value__c} * 0.05</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Booking 5% Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking 5% Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_5_Check_Box</name>
        <label>Uncheck 5% Check Box</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Is_5_Amount_Received__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_closed_Won</name>
        <label>Update Opportunity to closed Won</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Update_Suggested_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property</name>
        <label>Update Suggested Property</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Suggested_Property__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_booked_0</name>
        <label>Update To booked</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_5_Amount_Received__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_5_Payment_Received_or_not</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
