dynamix/force-app/main/default/flows/Booking_Agreement_10_Amount_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Allotment_Letter</name>
        <label>Generate Allotment Letter</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>GenerateAllotmentLetter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Allotment_Letter_Generation_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateAllotmentLetter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_10_Payment_of_Agreement_Value_Received_or_Not</name>
        <label>Checking 10% Payment of Agreement Value Received or Not</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Payment_Grater_Than_or_equal_to_10</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Received_Agreement__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TenPercentOfAggrmentVal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_Payment_Received_GST__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TenPercentOfGstValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Payment_Received_Agreement__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TenPercentOfAggrmentVal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approved_Payment_Received_GST__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TenPercentOfGstValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Allotment_Letter</targetReference>
            </connector>
            <label>If Payment Grater Than or equal to 10%</label>
        </rules>
    </decisions>
    <formulas>
        <name>TenPercentOfAggrmentVal</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Agreement_Value__c}  * 0.1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TenPercentOfGstValue</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.GST__c}  * 0.1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Booking Agreement 10% Amount is Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Agreement 10% Amount Received</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Allotment_Letter_Generation_Date</name>
        <label>Set Allotment Letter Generation Date</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Allotment_Letter_Generation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_10_Payment_of_Agreement_Value_Received_or_Not</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
