dynamix/force-app/main/default/flows/Cancelled_The_Site_Visit_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SMS_Sent_To_Cancel_Site_Visit</name>
        <label>SMS Sent To Cancel Site Visit</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <actionName>SentSMSToCustomerForCancelledEnquiry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>customNotification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Class_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactNumber</name>
            <value>
                <elementReference>get_Enquiry.Project__r.Project_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enquiryId</name>
            <value>
                <elementReference>get_Enquiry_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personAccountId</name>
            <value>
                <elementReference>get_Enquiry_Record.Contact_Person__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryMobileNumber</name>
            <value>
                <elementReference>get_Enquiry.Primary_Mobile_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>get_Enquiry_Record.Project_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitDate</name>
            <value>
                <elementReference>get_Enquiry_Record.Site_Visit_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitTime</name>
            <value>
                <elementReference>get_Enquiry_Record.Site_Visit_Scheduled_Date__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SentSMSToCustomerForCancelledEnquiry</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>To_Sales_Head</name>
        <label>To Sales Head</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>update_Task_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>customNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>get_Enquiry.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Recepient</name>
        <label>Assign Recepient</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>recipentID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Enquiry_Record.Project__r.Sales_Head__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_check_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Open_Event</name>
        <label>Cancel Open Event</label>
        <locationX>270</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>for_Loop_on_Open_Event.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_Loop_on_Open_Event.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_Loop_on_Open_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_Loop_on_Open_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Open_Task</name>
        <label>Cancel Open Task</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>for_Loop_on_Open_Task.Throw_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_Loop_on_Open_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_Loop_on_Open_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_Loop_on_Open_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Recepient</name>
        <label>Copy 1 of Assign Recepient</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>recipentID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Enquiry_Record.Project__r.Post_Sales_Head__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Owner</name>
        <label>check Owner</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_check_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry.Project__r.Sales_Head__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recepient</targetReference>
            </connector>
            <label>If Owner Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_Owner</name>
        <label>Copy 1 of check Owner</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>check_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Owner_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Enquiry.Project__r.Post_Sales_Head__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Recepient</targetReference>
            </connector>
            <label>Copy 1 of If Owner Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_check_Owner</name>
        <label>Copy 2 of check Owner</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>update_Task_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_Owner_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Sales_Head</targetReference>
            </connector>
            <label>Copy 2 of If Owner Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task</name>
        <label>Task</label>
        <locationX>732</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Open_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Site_Visit_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_Loop_on_Open_Task</targetReference>
            </connector>
            <label>Is Open Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cancelled The Site Visit Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancelled The Site Visit Task</label>
    <loops>
        <name>for_Loop_on_Open_Event</name>
        <label>for Loop on Open Event</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <collectionReference>Get_Site_Visit_Open_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_Open_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_Loop_on_Open_Task</name>
        <label>for Loop on Open Task</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Open_Site_Visit_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_Open_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SMS_Sent_To_Cancel_Site_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>customNotification</name>
        <label>customNotification</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_check_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site_Visit_has_been_cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Enquiry</name>
        <label>get Enquiry</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Site_Visit_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Enquiry_Record</name>
        <label>get Enquiry Record</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Site_Visit_Task</name>
        <label>Get Open Site Visit Task</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow Up Site Visit Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Visit_Open_Event</name>
        <label>Get Site Visit Open Event</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_Loop_on_Open_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Event</name>
        <label>update Event</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Copy_1_of_Event_Error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Event_Error</targetReference>
        </faultConnector>
        <inputReference>eventList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Task_Records</name>
        <label>update Task Records</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Get_Site_Visit_Open_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>updateTask</inputReference>
    </recordUpdates>
    <screens>
        <name>Class_Error</name>
        <label>Class Error</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error</name>
        <label>Copy 1 of Error</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(157, 0, 0);&quot;&gt;No site visit is available for cancellation.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Event_Error</name>
        <label>Copy 1 of Event Error</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 12, 12);&quot;&gt;Site Visit is Cancelled.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Error</name>
        <label>Event Error</label>
        <locationX>490</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 2, 2);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Enquiry_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your scheduled meeting with {!get_Enquiry.Account_Name__c} has been cancelled.</text>
    </textTemplates>
    <textTemplates>
        <name>title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Site Visit Cancelled.</text>
    </textTemplates>
    <variables>
        <name>eventList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recipentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
