dynamix/force-app/main/default/flows/Cancel_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Booking_Cancellation_Approval</name>
        <label>Booking Cancellation Approval</label>
        <locationX>1304</locationX>
        <locationY>2828</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assign_CRM_Head_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Unit Transfer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Booking_Cancellation_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Project_Head</name>
        <label>Check Project Head</label>
        <locationX>1009</locationX>
        <locationY>350</locationY>
        <actionName>GetCustomPermission</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>permissionName</name>
            <value>
                <stringValue>apply_discount_No_limits</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetCustomPermission</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>check_Record_Is_In_Approval</name>
        <label>check Record Is In Approval</label>
        <locationX>529</locationX>
        <locationY>134</locationY>
        <actionName>checkRecordIsInApproval</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Apporval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>checkRecordIsInApproval</nameSegment>
        <outputParameters>
            <assignToReference>ApprovalCheck</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Booking_Cancellation_Checklist_Doc</name>
        <label>Generate Booking Cancellation Checklist Doc</label>
        <locationX>1441</locationX>
        <locationY>4184</locationY>
        <actionName>GenerateBookingCancellationChecklist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Booking_Cancellation_Checklist</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateBookingCancellationChecklist</nameSegment>
        <outputParameters>
            <assignToReference>BookingCancellationChecklistFileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Booking_Cancellation_Checklist</name>
        <label>Navigate to Booking Cancellation Checklist</label>
        <locationX>1441</locationX>
        <locationY>4292</locationY>
        <actionName>c:navigateToFiles</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Booking_Cancellation_Ready_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>BookingCancellationChecklistFileId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToFiles</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Booking_Cancellation_Initiated_0</name>
        <label>Send Email For Booking Cancellation Initiated</label>
        <locationX>2228</locationX>
        <locationY>1622</locationY>
        <actionName>BookingCancellationInitiatedEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Updated_Booking_values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingCancellationInitiatedEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Unit_Transfer_Email_to_CRM_Head</name>
        <label>Send Unit Transfer Email to CRM Head</label>
        <locationX>1304</locationX>
        <locationY>3044</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>crmHeadEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>unitTransferSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>unitTransferEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CRM_Head_Email</name>
        <label>Assign CRM Head Email</label>
        <locationX>1304</locationX>
        <locationY>2936</locationY>
        <assignmentItems>
            <assignToReference>crmHeadEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Booking_Record.CRM_Head__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Unit_Transfer_Email_to_CRM_Head</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_File_Count</name>
        <label>Assign File Count</label>
        <locationX>1172</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>NumberOfFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Transfer_Email_from_Customer.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_File_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Id</name>
        <label>Assign Property Id</label>
        <locationX>1441</locationX>
        <locationY>3968</locationY>
        <assignmentItems>
            <assignToReference>propertyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking_Record.Related_Property__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Booking_Values_of_Screen_2</name>
        <label>Copy 1 of Set Booking Values of Screen 2</label>
        <locationX>1370</locationX>
        <locationY>1904</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Cancellation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Sub_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Cancellation_Sub_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Request_Confirmation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Cancellation_Request_Confirmation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation Initiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Last_Booking_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingLastStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Initiated_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Initiated_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Requested_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Requested_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancel_or_Termination_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Cancellation_Request_Confirmation_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancellation_Checklist_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Booking_Values_of_Screen_2</name>
        <label>Copy 2 of Set Booking Values of Screen 2</label>
        <locationX>1304</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.CRM_Head__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CRM_Head_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Booking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Booking_Stage</name>
        <label>Set Booking Stage</label>
        <locationX>2228</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation Initiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Last_Booking_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingLastStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Booking_Value_of_Screen_3</name>
        <label>Set Booking Value of Screen 3</label>
        <locationX>1040</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Non_Recoverable_GST_of_Invoice_Raised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Recoverable_GST_of_Invoice_Raised</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Forfeiture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forfeiture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Forfeiture_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forfeiture_Criteria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Interest_Accrued_on_Amount_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Accrued_on_Amount_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.MVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MVAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Service_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Tax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.TDS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TDS_Scr3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Miscellaneous_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Miscellaneous_Expense</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Brokerage_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage_Paid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Booking_Screen_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Booking_Value_of_Screen_4</name>
        <label>Set Booking Value of Screen 4</label>
        <locationX>1040</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Total_Refund_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Refund_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Forfeiture_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForfeitureAmountValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Total_Forfeiture_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalForfeitureAmountValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Updated_Booking_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Booking_Values_of_Screen_2</name>
        <label>Set Booking Values of Screen 2</label>
        <locationX>842</locationX>
        <locationY>2120</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Sub_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Sub_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Request_Confirmation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Request_Confirmation_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancellation_Checklist_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Stage</name>
        <label>Set Opportunity Stage</label>
        <locationX>2228</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancellation Initiated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Booking_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Updated_Booking_values</name>
        <label>Set Updated Booking values</label>
        <locationX>1705</locationX>
        <locationY>3644</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancel_or_Termination_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todaysdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Requested_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Requested_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Request_Date_Retained_Dat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellationRequestDateOrRetainedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Booking_Record.Cancellation_Initiated_by__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Initiated_by</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Non_Payment</name>
        <choiceText>Non Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Termination</name>
        <choiceText>Termination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Termination</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Transfer</name>
        <choiceText>Unit Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Transfers</name>
        <choiceText>Unit Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Transfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cancellation_Checklist_Condition</name>
        <label>Cancellation Checklist Condition</label>
        <locationX>1172</locationX>
        <locationY>2396</locationY>
        <defaultConnector>
            <targetReference>get_CRM_Head_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cancellation_Requested_is_not_by_Unit_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unit Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Booking_Screen_3</targetReference>
            </connector>
            <label>If Cancellation Requested is not by Unit Transfer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Apporval</name>
        <label>Check Apporval</label>
        <locationX>529</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Head</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apporval_process_on_going</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Msg_record_is_already_in_approval</targetReference>
            </connector>
            <label>Apporval_process_on_going</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cancellation_Initiated_By</name>
        <label>Check Cancellation Initiated By</label>
        <locationX>1172</locationX>
        <locationY>1580</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Co_Applicant_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Initiated_by</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unit Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cancellation_Sought_task_status</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cancellation_Requested_Status</name>
        <label>Check Cancellation Requested Status</label>
        <locationX>1705</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_Updated_Booking_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Confirmed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Payments</targetReference>
            </connector>
            <label>Cancellation Confirmed</label>
        </rules>
        <rules>
            <name>Cancellation_Sought</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Sought</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Cancellation_Initiated_By</targetReference>
            </connector>
            <label>Cancellation Sought</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_any_pending_Payments</name>
        <label>Check for any pending Payments</label>
        <locationX>875</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_File_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cleared</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Error_Screen</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Cancellation_Sought_Process_Completed</name>
        <label>Check If Cancellation Sought Process Completed</label>
        <locationX>974</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>Cancellation_confirm_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cancellation_Sought_task_status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Co_Applicant_Record</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Registration_is_done</name>
        <label>Check If Registration is done</label>
        <locationX>1009</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Cancel_Booking_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Deed_Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record.Cancellation_Deed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Deed_Screen</targetReference>
            </connector>
            <label>Cancellation Deed Not Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Cancellation_Initiated_By</name>
        <label>Check Cancellation Initiated By</label>
        <locationX>2228</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dynamix</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Initiated_by</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancellation_Sought_Task_0</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Cancellation_Status_is_Confirmed</name>
        <label>If Cancellation Status is Confirmed</label>
        <locationX>1705</locationX>
        <locationY>3860</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Status_is_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record.Cancellation_Requested_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Property_Id</targetReference>
            </connector>
            <label>Cancellation Status is Confirmed</label>
        </rules>
        <rules>
            <name>If_Retained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record.Cancellation_Requested_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>If Retained</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_File_Uploaded</name>
        <label>Transfer File Uploaded</label>
        <locationX>1172</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Check_Cancellation_Initiated_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Transfer_File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfFiles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Content_Version</targetReference>
            </connector>
            <label>If Transfer File Uploaded</label>
        </rules>
        <rules>
            <name>File_Not_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfFiles</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>File Not Uploaded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CancellationInitiatedby</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Initiated_by__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CancellationReasonsAPI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Reasons__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CancellationReasonset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Reasons__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CancellationRequestStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Requested_Status__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CancellationSubReasonSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Sub_Reason__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closed_Reason__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ForfeitureCriteriaSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Forfeiture_Criteria__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BrokeragePaid</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.Brokerage_Paid__c}=null , 0,{!Get_Booking_Record.Brokerage_Paid__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CancellationAmountCalculated</name>
        <dataType>Currency</dataType>
        <expression> (20/100)*{!Get_Booking_Record.Agreement_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>cancellationReason</name>
        <dataType>String</dataType>
        <expression>IF({!Cancellation_Requested_Status} == &apos;Unit Transfer&apos;, &apos;Unit Transfer&apos;, &apos;Termination&apos;)</expression>
    </formulas>
    <formulas>
        <name>CancellationRequestDateOrRetainedDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Cancellation_Request_Date_Retained_Date}&lt;&gt;null, {!Cancellation_Request_Date_Retained_Date}, {!Get_Booking_Record.Cancellation_Request_Date_Retained_Dat__c})</expression>
    </formulas>
    <formulas>
        <name>CancellationSoughtTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Cancellation Sought&quot;  + &quot; - &quot; +{!Get_Booking_Record.Related_Opportunity__r.Name}+ &quot; - &quot; + {!Get_Booking_Record.Name}</expression>
    </formulas>
    <formulas>
        <name>cancellationSubReason</name>
        <dataType>String</dataType>
        <expression>IF({!Cancellation_Requested_Status} == &apos;Unit Transfer&apos;, &apos;Unit Transfer&apos;, &apos;Non_Payment&apos;)</expression>
    </formulas>
    <formulas>
        <name>DueDateAfter7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>fileUploaded</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Transfer_Email_from_Customer.contentDocIds})&gt;2, True, False)</expression>
    </formulas>
    <formulas>
        <name>ForfeitureAmountValue</name>
        <dataType>Currency</dataType>
        <expression>CASE( {!Forfeiture_Criteria},&quot;Agreement Value&quot;, {!ForfeiturePerofAgreementValue} ,&quot;Received Value&quot;, {!ForfeiturePerOfReceivedValue} ,NULL)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ForfeiturePercent</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Booking_Record.Forfeiture__c}=null, 0,{!Get_Booking_Record.Forfeiture__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ForfeiturePerofAgreementValue</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking_Record.Agreement_Value__c} * ({!Forfeiture} /100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ForfeiturePerOfReceivedValue</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking_Record.Total_Amount_Received__c} * ({!Forfeiture}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InterestAccruedonAmountDue</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.Interest_Accrued_on_Amount_Due__c}=null, 0,{!Get_Booking_Record.Interest_Accrued_on_Amount_Due__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MiscellaneousExpense</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.Miscellaneous_Expense__c}=null, 0,{!Get_Booking_Record.Miscellaneous_Expense__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MVATPercent</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Booking_Record.MVAT__c}=null, 0,{!Get_Booking_Record.MVAT__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NonRecoverableGSTofInvoiceRaised</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.Non_Recoverable_GST_of_Invoice_Raised__c}=null, 0,{!Get_Booking_Record.Non_Recoverable_GST_of_Invoice_Raised__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking_Record.Payment_Received_Agreement__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundAmountReadonly</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking_Record.Payment_Received_Agreement__c} - {!CancellationAmountCalculated}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ServiceTax</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.Service_Tax__c}=null, 0,{!Get_Booking_Record.Service_Tax__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TDS</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.TDS__c}=null, 0,{!Get_Booking_Record.TDS__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>todaysdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TotalForfeitureAmountValue</name>
        <dataType>Currency</dataType>
        <expression>{!Non_Recoverable_GST_of_Invoice_Raised} + {!ForfeitureAmountValue} + {!Get_Booking_Record.Payment_Received_GST__c} + {!Get_Booking_Record.Brokerage_Amount_Paid2__c}+ {!Interest_Accrued_on_Amount_Due} +{!Service_Tax}+{!TDS_Scr3}+{!Miscellaneous_Expense}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalRefundAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Booking_Record.Total_Refund_Amount__c}=null, 0,{!Get_Booking_Record.Total_Refund_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cancel Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cancellation_Sought_Task_0</name>
        <label>Create Cancellation Sought Task</label>
        <locationX>2096</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateAfter7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Booking_Record.Related_Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CancellationSoughtTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Co_Applicant_Record</name>
        <label>Get Co-Applicant Record</label>
        <locationX>1370</locationX>
        <locationY>1688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Cancel_Booking_Screen_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>1009</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Registration_is_done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cancellation_Sought_task_status</name>
        <label>Get Cancellation Sought task status</label>
        <locationX>974</locationX>
        <locationY>1688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Cancellation_Sought_Process_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cancellation Sought</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant_Record</name>
        <label>Get Co-Applicant Record</label>
        <locationX>842</locationX>
        <locationY>1904</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Booking_Screen_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CRM_Head_User</name>
        <label>get CRM Head User</label>
        <locationX>1304</locationX>
        <locationY>2504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Set_Booking_Values_of_Screen_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.CRM_Head_User</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>2228</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Record.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Payments</name>
        <label>Get Pending Payments</label>
        <locationX>875</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_any_pending_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Booking</name>
        <label>Copy 1 of Update Booking</label>
        <locationX>1304</locationX>
        <locationY>2720</locationY>
        <connector>
            <targetReference>Booking_Cancellation_Approval</targetReference>
        </connector>
        <inputReference>Get_Booking_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>1705</locationX>
        <locationY>3968</locationY>
        <connector>
            <targetReference>Retain_Cancel_Booking_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>Get_Booking_Record.Last_Booking_stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>1705</locationX>
        <locationY>3752</locationY>
        <connector>
            <targetReference>If_Cancellation_Status_is_Confirmed</targetReference>
        </connector>
        <inputReference>Get_Booking_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>908</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Check_Cancellation_Initiated_By</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Transfer_Email_from_Customer.contentVersionIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Terminate/Cancel Booking Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SObjectType__c</field>
            <value>
                <stringValue>Booking__c</stringValue>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>2228</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Send_Email_For_Booking_Cancellation_Initiated_0</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property</name>
        <label>Update Property</label>
        <locationX>1441</locationX>
        <locationY>4076</locationY>
        <connector>
            <targetReference>Generate_Booking_Cancellation_Checklist_Doc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>propertyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <screens>
        <name>Booking_Cancellation_Ready_Screen</name>
        <label>Booking Cancellation Ready Screen</label>
        <locationX>1441</locationX>
        <locationY>4400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Booking_Cancellation_Doc_Ready_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(10, 173, 29);&quot;&gt;Booking Cancellation Checklist has been Generated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancel_Booking_Screen_1</name>
        <label>Cancel Booking Screen 1</label>
        <locationX>1705</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Cancellation_Requested_Status</targetReference>
        </connector>
        <fields>
            <name>Cancellation_Initiated_by</name>
            <choiceReferences>CancellationInitiatedby</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Initiated_by__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Initiated by</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancellation_Requested_Status</name>
            <choiceReferences>CancellationRequestStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Requested_Status__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Requested Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancellation_Request_Date_Retained_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Request_Date_Retained_Dat__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Request Date / Retained Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cancellation Confirmed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Unit Transfer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transfer_Email_from_Customer</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transfer Email from Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Booking_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancellation_Requested_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unit Transfer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Booking_Screen_2</name>
        <label>Cancel Booking Screen 2</label>
        <locationX>842</locationX>
        <locationY>2012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Booking_Values_of_Screen_2</targetReference>
        </connector>
        <fields>
            <name>Primary_Applicant_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Primary Applicant Name: &lt;/strong&gt;{!Get_Booking_Record.Primary_Applicant__r.FirstName}{!Get_Booking_Record.Primary_Applicant__r.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Co_Applicant_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Co-Applicant Name: &lt;/strong&gt;{!Get_Co_Applicant_Record.Account__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Project_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Project: &lt;/strong&gt;{!Get_Booking_Record.Project_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Tower_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tower Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Booking_Record.Tower_Name__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unit_Number</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Unit Number: &lt;/strong&gt;{!Get_Booking_Record.Unit_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Booking_Status</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Booking Status: &lt;/strong&gt;{!Get_Booking_Record.Stage__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Source_of_booking</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Source of Booking: &lt;/strong&gt;{!Get_Booking_Record.Source_of_Booking__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Registration_Status</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Registration Status:&lt;/strong&gt; {!Get_Booking_Record.Registration_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancellation_Request_Confirmation_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Request_Confirmation_Date__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Request Confirmation Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancellation_Reason</name>
            <choiceReferences>CancellationReasonset</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Reasons__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cancellation_Sub_Reason</name>
            <choiceReferences>CancellationSubReasonSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Sub_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Sub Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Booking_Screen_3</name>
        <label>Cancel Booking Screen 3</label>
        <locationX>1040</locationX>
        <locationY>2504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Booking_Value_of_Screen_3</targetReference>
        </connector>
        <fields>
            <name>Agreemnt_Value</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Agreement Value: &lt;/strong&gt;{!Get_Booking_Record.Agreement_Value__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Amount_Received</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Amount Received: &lt;/strong&gt;{!Get_Booking_Record.Total_Amount_Received__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TDS_Received</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;TDS Received: &lt;/strong&gt;{!Get_Booking_Record.TDS_Received__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Non_Recoverable_GST_of_Invoice_Raised</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>NonRecoverableGSTofInvoiceRaised</elementReference>
            </defaultValue>
            <fieldText>Non Recoverable GST of Invoice Raised</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Forfeiture</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ForfeiturePercent</elementReference>
            </defaultValue>
            <fieldText>Forfeiture %</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Forfeiture_Criteria</name>
            <choiceReferences>ForfeitureCriteriaSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Forfeiture_Criteria__c</elementReference>
            </defaultValue>
            <fieldText>Forfeiture Criteria</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Brokerage_Paid</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>BrokeragePaid</elementReference>
            </defaultValue>
            <fieldText>Brokerage Paid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interest_Accrued_on_Amount_Due</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>InterestAccruedonAmountDue</elementReference>
            </defaultValue>
            <fieldText>Interest Accrued on Amount Due</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MVAT</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>MVATPercent</elementReference>
            </defaultValue>
            <fieldText>MVAT %</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Tax</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>ServiceTax</elementReference>
            </defaultValue>
            <fieldText>Service Tax</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TDS_Scr3</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>TDS</elementReference>
            </defaultValue>
            <fieldText>TDS</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GST_Received</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;GST Received: &lt;/strong&gt;{!Get_Booking_Record.Payment_Received_GST__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Miscellaneous_Expense</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>MiscellaneousExpense</elementReference>
            </defaultValue>
            <fieldText>Miscellaneous Expense</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Booking_Screen_4</name>
        <label>Cancel Booking Screen 4</label>
        <locationX>1040</locationX>
        <locationY>2720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Booking_Value_of_Screen_4</targetReference>
        </connector>
        <fields>
            <name>Forfeiture_Amount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Forfeiture Amount: &lt;/strong&gt;{!ForfeitureAmountValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Forfeiture_Amount_Scr</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Forfeiture Amount: &lt;/strong&gt;{!TotalForfeitureAmountValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Refund_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>TotalRefundAmount</elementReference>
            </defaultValue>
            <fieldText>Total Refund Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancellation_confirm_error_screen</name>
        <label>Cancellation confirm error screen</label>
        <locationX>1106</locationX>
        <locationY>1904</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConcellationConfirmErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 32, 32); font-size: 14px;&quot;&gt;You can not select cancellation confirmation option without completing cancellation sought process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancellation_Deed_Screen</name>
        <label>Cancellation Deed Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancellationDeedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;As the unit is registered, Please Upload the &quot;Cancellation Deed Document&quot; to initiate the cancellation process.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Cancel_Booking_Screen_2</name>
        <label>Cancel Booking Screen 2</label>
        <locationX>1370</locationX>
        <locationY>1796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Set_Booking_Values_of_Screen_2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Primary_Applicant_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Primary Applicant Name: &lt;/strong&gt;{!Get_Booking_Record.Primary_Applicant__r.FirstName}{!Get_Booking_Record.Primary_Applicant__r.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Co_Applicant_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Co-Applicant Name: &lt;/strong&gt;{!Get_Co_Applicant_Record.Account__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Project_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Project: &lt;/strong&gt;{!Get_Booking_Record.Project_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Tower_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tower Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Booking_Record.Tower_Name__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Unit_Number</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Unit Number: &lt;/strong&gt;{!Get_Booking_Record.Unit_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Booking_Status</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Booking Status: &lt;/strong&gt;{!Get_Booking_Record.Stage__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Source_of_booking</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Source of Booking: &lt;/strong&gt;{!Get_Booking_Record.Source_of_Booking__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Registration_Status</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Registration Status:&lt;/strong&gt; {!Get_Booking_Record.Registration_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Cancellation_Request_Confirmation_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Booking_Record.Cancellation_Request_Confirmation_Date__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Request Confirmation Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Cancellation_Reason</name>
            <choiceReferences>Termination</choiceReferences>
            <choiceReferences>Unit_Transfer</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>cancellationReason</elementReference>
            </defaultValue>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Cancellation_Sub_Reason</name>
            <choiceReferences>Non_Payment</choiceReferences>
            <choiceReferences>Unit_Transfers</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>cancellationSubReason</elementReference>
            </defaultValue>
            <fieldText>Cancellation Sub Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>1832</locationX>
        <locationY>2936</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(83, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1568</locationX>
        <locationY>3152</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(83, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>1172</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Cancel_Booking_Screen_1</targetReference>
        </connector>
        <fields>
            <name>FileErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(169, 11, 11);&quot;&gt;Please upload file.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Msg_record_is_already_in_approval</name>
        <label>Msg record is already in approval</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Open Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34);&quot;&gt;Already is in some approval process, Kindly complete that first.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Error_Screen</name>
        <label>Payment Error Screen</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Dear User, This booking contains Pending Payments.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Kindly, Contact the SAP FI team to approve/reject these payments.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retain_Cancel_Booking_Screen</name>
        <label>Retain Cancel Booking Screen</label>
        <locationX>1705</locationX>
        <locationY>4076</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Retained_Canel_booking_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 150, 23);&quot;&gt;Booking Cancellation has been Retained Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>403</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Record_Is_In_Approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>unitTransferEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear CRM Head,

This is to inform you that {!Get_Booking_Record.Primary_Applicant_Name_Formulla__c} has asked to transfer the unit {!Get_Booking_Record.Unit_Number__c} of project {!Get_Booking_Record.Project_Name__r.Name}.

Request you to approve the transfer.

Regards,
Dynamix Group</text>
    </textTemplates>
    <textTemplates>
        <name>unitTransferSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Unit Tranfer request for Booking - {!Get_Booking_Record.Name}</text>
    </textTemplates>
    <variables>
        <name>ApprovalCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingCancellationChecklistFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BookingLastStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Booking_Record.Stage__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CancellationFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>crmHeadEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
