dynamix/force-app/main/default/flows/Channel_Partner_Data_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout_Broker_Master</name>
        <label>Callout Broker Master</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>calloutBrokerMaster</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>calloutBrokerMaster</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Callout_Broker_Master_Update</name>
        <label>Callout Broker Master Update</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <actionName>calloutBrokerMaster</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>calloutBrokerMaster</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_For_Insert_Or_Update</name>
        <label>Check For Insert Or Update</label>
        <locationX>627</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_If_Channel_Partner_is_synced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Data_Sync</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pending_or_not</name>
        <label>Check for Pending or not</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Data_Sync</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Data_Sync</targetReference>
            </connector>
            <label>Not Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pending_or_not_on_update</name>
        <label>Check for Pending or not</label>
        <locationX>974</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Data_Sync</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Data_Sync_on_Update</targetReference>
            </connector>
            <label>Not Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Channel_Partner_is_synced</name>
        <label>Check If Channel Partner is synced?</label>
        <locationX>1073</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_partner_Id_is_not_updated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_partner_Id_is_not_updated</name>
        <label>Check If partner Id is not updated</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Pending_Data_Sync_on_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Id__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Triggering_Account_is_Channel_Partner</name>
        <label>Check If Triggering Account is Channel Partner?</label>
        <locationX>1130</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Channel_Partner_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Insert_Or_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Channel Partner Data Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Partner Data Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Data_Sync</name>
        <label>Create Data Sync</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Callout_Broker_Master</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Channel Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_Direction__c</field>
            <value>
                <stringValue>SFDC to SAP</stringValue>
            </value>
        </inputAssignments>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Data_Sync_on_Update</name>
        <label>Create Data Sync on Update</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Callout_Broker_Master_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Channel Partner Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_Direction__c</field>
            <value>
                <stringValue>SFDC to SAP</stringValue>
            </value>
        </inputAssignments>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Channel_Partner_Record_Type</name>
        <label>Get Channel Partner Record Type</label>
        <locationX>1130</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Triggering_Account_is_Channel_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Channel_Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Data_Sync</name>
        <label>Get Pending Data Sync</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Pending_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Data_Sync_on_Update</name>
        <label>Get Pending Data Sync on Update</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Pending_or_not_on_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1004</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Channel_Partner_Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
