dynamix/force-app/main/default/flows/Collateral_Management_on_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CustomerEmail</name>
        <label>Customer Email</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Enquiry.Project__r.Name} Videos &amp; Brochures</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendBrochureThroughSMS</name>
        <label>SendBrochureThroughSMS</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <actionName>SendBrochureThroughSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>brochure</name>
            <value>
                <elementReference>Enquiry.Project__r.Project_Brochure__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enquiryId</name>
            <value>
                <elementReference>Enquiry.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flatVideo</name>
            <value>
                <elementReference>Enquiry.Project__r.Show_flat_walkthrough_video__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Location</name>
            <value>
                <elementReference>Enquiry.Project__r.GPS_location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryMobileNumber</name>
            <value>
                <elementReference>Enquiry.Primary_Mobile_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectArea</name>
            <value>
                <elementReference>Enquiry.Project__r.Project_Area__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>Enquiry.Project__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectPhone</name>
            <value>
                <elementReference>Enquiry.Project__r.Project_Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBrochureThroughSMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_Brochures_To_Customer</name>
        <label>Sent Brochures To Customer</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <actionName>SentBrochuresToCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_SMS_To_Customer</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>brochure</name>
            <value>
                <elementReference>Enquiry.Project__r.Project_Brochure__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enquiryId</name>
            <value>
                <elementReference>Enquiry.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flatVideo</name>
            <value>
                <elementReference>Enquiry.Project__r.Show_flat_walkthrough_video__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Location</name>
            <value>
                <elementReference>Enquiry.Project__r.GPS_location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personAccountId</name>
            <value>
                <elementReference>Enquiry.Contact_Person__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryMobileNumber</name>
            <value>
                <elementReference>Enquiry.Primary_Mobile_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectArea</name>
            <value>
                <elementReference>Enquiry.Project__r.Project_Area__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>Enquiry.Project__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectPhone</name>
            <value>
                <elementReference>Enquiry.Project__r.Project_Phone__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SentBrochuresToCustomer</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>emailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enquiry.Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_To_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_0</name>
        <label>Assign Email</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>emailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enquiry.Contact_Person__r.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_To_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Checkbox_Value</name>
        <label>Check Checkbox Value</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Sharing_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkbox_not_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPS_location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Brochure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_videos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Show_flat_walkthrough_video</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Checkbox not true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>974</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Send_Email_To_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Email_Exist_On_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry.Email_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email</targetReference>
            </connector>
            <label>Check Email Exist On Enquiry</label>
        </rules>
        <rules>
            <name>Check_Email_Exist_On_Contact_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry.Contact_Person__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_0</targetReference>
            </connector>
            <label>Check Email Exist On Contact Person</label>
        </rules>
        <rules>
            <name>Error_Screen_for_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enquiry.Email_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enquiry.Contact_Person__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatsApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_0</targetReference>
            </connector>
            <label>Error Screen for Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_To_Customer</name>
        <label>Send Email To Customer</label>
        <locationX>974</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Success_Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerEmail</targetReference>
            </connector>
            <label>Email Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_SMS_To_Customer</name>
        <label>Send SMS To Customer</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Check_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enquiry.Primary_Mobile_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendBrochureThroughSMS</targetReference>
            </connector>
            <label>if SMS is true</label>
        </rules>
        <rules>
            <name>Primary_Number_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enquiry.Primary_Mobile_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Error_Message</targetReference>
            </connector>
            <label>Primary Number is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Status</name>
        <label>Send Status</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_should_not_be_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatsApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Message</targetReference>
            </connector>
            <label>Check should not be empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Whatsapp_To_Customer</name>
        <label>Send Whatsapp To Customer</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Send_SMS_To_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Whatsapp_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatsApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enquiry.Primary_Mobile_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Brochures_To_Customer</targetReference>
            </connector>
            <label>if Whatsapp is true</label>
        </rules>
        <rules>
            <name>Primary_Number_is_Empty_ForWhatsapp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatsApp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Enquiry.Primary_Mobile_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_To_Customer</targetReference>
            </connector>
            <label>Primary Number is Empty ForWhatsapp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Collateral Management on Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collateral Management on Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Enquiry</name>
        <label>Enquiry</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_the_below_options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquiry</name>
        <label>Update Enquiry</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Send_Whatsapp_To_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Brochures_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Message</name>
        <label>Copy 1 of Error Message</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;Please select at least one option.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Message</name>
        <label>Copy 2 of Error Message</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Error_Screen_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;Primary Mobile Number is mandatory.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;Please select at least one option.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_0</name>
        <label>Error Message</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_To_Customer</targetReference>
        </connector>
        <fields>
            <name>Error_Screen_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;Email is mandatory.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_below_options</name>
        <label>Select the below options</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Checkbox_Value</targetReference>
        </connector>
        <fields>
            <name>Project_Brochure</name>
            <dataType>Boolean</dataType>
            <fieldText>Project Brochure</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_flat_walkthrough_video</name>
            <dataType>Boolean</dataType>
            <fieldText>Show flat walkthrough video</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Project_videos</name>
            <dataType>Boolean</dataType>
            <fieldText>Project videos</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GPS_location</name>
            <dataType>Boolean</dataType>
            <fieldText>GPS location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sharing_Option</name>
        <label>Sharing Option</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Status</targetReference>
        </connector>
        <fields>
            <name>SMS</name>
            <dataType>Boolean</dataType>
            <fieldText>SMS</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WhatsApp</name>
            <dataType>Boolean</dataType>
            <fieldText>WhatsApp</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Final_Screen</name>
        <label>Success Final Screen</label>
        <locationX>974</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Succes_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(1, 69, 4); background-color: rgb(255, 255, 255);&quot;&gt;Brochure sent to Customer successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Sir/Madam,&lt;/p&gt;&lt;p&gt;Thank you for your interest in our project {!Enquiry.Project__r.Name} in |{!Enquiry.Project__r.Project_Area__c}.&lt;/p&gt;&lt;p&gt;We are sharing with you additional information to help you better understand the project, its location, amenities, and its offerings.&lt;/p&gt;&lt;p&gt;Location {!Enquiry.Project__r.&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;GPS_location__c&lt;/span&gt;}&lt;/p&gt;&lt;p&gt;The e-brochure can be viewed at  {!Enquiry.Project__r.Project_Brochure__c} you can also go through the walkthrough video at {!Enquiry.Project__r.Show_flat_walkthrough_video__c}. &lt;/p&gt;&lt;p&gt;For any additional information, please visit our website wwww.dynamixgroup.in or call us on {!Enquiry.Project__r.Project_Phone__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Warm Regards,&lt;/p&gt;&lt;p&gt;Dynamix Group&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
