dynamix/force-app/main/default/flows/Credit_Note_Payment_Square_Off.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Customer</name>
        <label>Send Email To Customer</label>
        <locationX>578</locationX>
        <locationY>2027</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Booking__r.Related_Opportunity__r.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Organization_Wide_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Payment_Reversal_On_Milestone</name>
        <label>Assign Payment Reversal On Milestone</label>
        <locationX>798</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>milestoneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Payment_Line_Items.Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>milestoneRecord.Remaining_Milestone_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>increaseMilestoneAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>milestoneRecord.Remaining_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>increaseUnitCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Cancelled_Amount_From_Payment_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_To_List</name>
        <label>Assign Record To List</label>
        <locationX>798</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>milestoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>milestoneRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>paymentLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Payment_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Cancelled_Amount_From_Payment_Line</name>
        <label>Remove Cancelled Amount From Payment Line</label>
        <locationX>798</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>paymentLineRecord.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentLineRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Payment_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Credit_Note_Status</name>
        <label>Check for Credit Note Status</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Note_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Record</targetReference>
            </connector>
            <label>If Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Credit_Note_Status1</name>
        <label>Check for Credit Note Status</label>
        <locationX>1386</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Note_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Payment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Created_Or_Updated</name>
        <label>Check If Created Or Updated</label>
        <locationX>784</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_Credit_Note_Status1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Credit_Note_Status</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_is_null</name>
        <label>Check If List is null</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>milestoneList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paymentLineList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Milestones</targetReference>
            </connector>
            <label>If not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Payment_Exists</name>
        <label>Check If Payment Exists</label>
        <locationX>1139</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Payment_Line_Items</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Payment_Line_Items_Exist</name>
        <label>Check If Payment Line Items Exist</label>
        <locationX>908</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Payment_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Payment_Line_Items</targetReference>
            </connector>
            <label>Yes Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>increaseMilestoneAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_Payment_Line_Items.Milestone__r.Remaining_Milestone_Amount__c}+{!Iterate_Payment_Line_Items.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>increaseUnitCost</name>
        <dataType>Currency</dataType>
        <expression>{!Iterate_Payment_Line_Items.Amount__c}+{!Iterate_Payment_Line_Items.Milestone__r.Remaining_Unit_Cost__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Credit Note Payment Square Off {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Note Payment Square Off</label>
    <loops>
        <name>Iterate_Payment_Line_Items</name>
        <label>Iterate Payment Line Items</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_All_Payment_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Payment_Reversal_On_Milestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_List_is_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Credit_Note_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Note__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <stringValue>Unit Cost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.Credit_Note_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>SAP Credit Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Approved_Rejected_Date__c</field>
            <value>
                <elementReference>$Record.Credit_Note_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sap_code__c</field>
            <value>
                <elementReference>$Record.Sap_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Payment_Line_Items</name>
        <label>Get All Payment Line Items</label>
        <locationX>908</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Payment_Line_Items_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Payment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Wide_Address</name>
        <label>Get Organization Wide Address</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__r.Project_Name__r.Project_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Payment</name>
        <label>Get Related Payment</label>
        <locationX>1139</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Payment_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Credit_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Line</name>
        <label>Update Payment Line</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Update_Payment_Status</targetReference>
        </connector>
        <inputReference>paymentLineList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Milestones</name>
        <label>Update Payment Milestones</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_Payment_Line</targetReference>
        </connector>
        <inputReference>milestoneList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Status</name>
        <label>Update Payment Status</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Get_Organization_Wide_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Approved_Rejected_Date__c</field>
            <value>
                <elementReference>$Record.Credit_Note_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <start>
        <locationX>658</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Created_Or_Updated</targetReference>
        </connector>
        <object>Credit_Note__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Booking__r.Primary_Applicant_Name_Formulla__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to inform you that there was an error in the credit note receipt - {!Get_Related_Payment.Receipt_No_Hidden__c} that was previously shared with you. Please disregard the earlier version you received. We apologize for any inconvenience this may have caused and appreciate your understanding.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Dynamix Group&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Credit Reversal</text>
    </textTemplates>
    <variables>
        <name>milestoneList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Milestones__c</objectType>
    </variables>
    <variables>
        <name>milestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Milestones__c</objectType>
    </variables>
    <variables>
        <name>paymentLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>paymentLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Line__c</objectType>
    </variables>
</Flow>
