dynamix/force-app/main/default/flows/Customer_Unit_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Customer_Unit_Inspection_Whatsapp_And_SMS</name>
        <label>Send Customer Unit Inspection Whatsapp And SMS</label>
        <locationX>226</locationX>
        <locationY>1622</locationY>
        <actionName>CustomerUnitInspectionWhatsappAndSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_Booking</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>get_Booking.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactNumber</name>
            <value>
                <elementReference>get_Booking.Project_Name__r.Project_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>get_Booking.Primary_Applicant__r.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>meetingLocation</name>
            <value>
                <elementReference>get_Booking.Project_Name__r.Location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationId</name>
            <value>
                <elementReference>Organization_Wide_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personAccountId</name>
            <value>
                <elementReference>get_Booking.Primary_Applicant__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryMobileNumber</name>
            <value>
                <elementReference>get_Booking.Primary_Applicant__r.PersonMobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>get_Booking.Project_Name__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitDate</name>
            <value>
                <elementReference>customerUnitInspectionScheduled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitTime</name>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitName</name>
            <value>
                <elementReference>get_Booking.Unit_Number__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerUnitInspectionWhatsappAndSMS</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Booking_Count_Assignment</name>
        <label>Booking Count Assignment</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>bookingScheduledForaDay</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>all_Booking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_time_Scheduled_Customer_Unit_Inspection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>NDC_Document</name>
        <label>NDC Document</label>
        <locationX>1348</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NDC_Document_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Booking.NDC_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Condition</targetReference>
            </connector>
            <label>NDC Document Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Condition</name>
        <label>Task Condition</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen</targetReference>
            </connector>
            <label>Task not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Inspection_Scheduled</name>
        <label>Unit Inspection Scheduled</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Unit_Inspection_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingScheduledForaDay</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>UnitInspectionScheduled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Same_time_Scheduled_Customer_Unit_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property</targetReference>
            </connector>
            <label>If Unit Inspection Scheduled</label>
        </rules>
        <rules>
            <name>Unit_Inspection_already_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_time_Scheduled_Customer_Unit_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Input</targetReference>
            </connector>
            <label>Unit Inspection already scheduled</label>
        </rules>
        <rules>
            <name>Limit_Exceded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingScheduledForaDay</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>bookingScheduledForaDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input</targetReference>
            </connector>
            <label>Limit Exceded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>customerUnitInspectionScheduled</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Customer_Unit_Inspection_Scheduled_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>EndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Customer_Unit_Inspection_Scheduled_Date_Time} +(2/24)</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!get_Booking.Primary_Applicant__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>UnitInspectionScheduled</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.Unit_Inspection_Scheduled_For_a_Day})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Customer Unit Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Unit Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Event</name>
        <label>Event</label>
        <locationX>226</locationX>
        <locationY>1838</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>customerUnitInspectionScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_Booking.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>RM Customer Unit Inspection Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>all_Booking</name>
        <label>all Booking</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Count_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Booking.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Unit_Inspection_Scheduled_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerUnitInspectionScheduled</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Booking</name>
        <label>get Booking</label>
        <locationX>1348</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Organization_Wide_Address</name>
        <label>Organization Wide Address</label>
        <locationX>226</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Customer_Unit_Inspection_Whatsapp_And_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Booking.Project_Name__r.Project_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Same_time_Scheduled_Customer_Unit_Inspection</name>
        <label>Same time Scheduled Customer Unit Inspection</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Inspection_Scheduled</targetReference>
        </connector>
        <filterLogic>1 AND 6 AND( (3 AND 2) OR (5 AND 4))</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerUnitInspectionScheduled</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Booking.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Task</name>
        <label>Task</label>
        <locationX>1348</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NDC_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Booking.Related_Suggested_Property__r.Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post - OC FM Review Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Property</name>
        <label>Property</label>
        <locationX>226</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Organization_Wide_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Booking.Related_Suggested_Property__r.Unit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Unit_Inspection_Scheduled_Date__c</field>
            <value>
                <elementReference>Customer_Unit_Inspection_Scheduled_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Booking</name>
        <label>update Booking</label>
        <locationX>226</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Unit_Inspection_Scheduled_Date__c</field>
            <value>
                <elementReference>customerUnitInspectionScheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Handover_Date__c</field>
            <value>
                <elementReference>customerUnitInspectionScheduled</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Copy_2_of_Input</name>
        <label>Copy 1 of Copy 2 of Input</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_2_of_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(141, 0, 0);&quot;&gt;Please upload NDC document before scheduling Customer Unit Inspection.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>1018</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Input</name>
        <label>Copy 1 of Input</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(160, 0, 0);&quot;&gt;Please select different time slot.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error_Screen</name>
        <label>Copy 2 of Error Screen</label>
        <locationX>1282</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Input</name>
        <label>Copy 2 of Input</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(141, 0, 0);&quot;&gt;Please complete Post - OC FM Review Task before scheduling Customer Unit Inspection.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>754</locationX>
        <locationY>1946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Property</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(166, 0, 0);&quot;&gt;Already  {!bookingScheduledForaDay} Customer Unit Inspection is scheduled for {!customerUnitInspectionScheduled}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>all_Booking</targetReference>
        </connector>
        <fields>
            <name>Customer_Unit_Inspection_Scheduled_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Customer Unit Inspection Scheduled Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1222</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingScheduledForaDay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
