dynamix/force-app/main/default/flows/EOI_CA_Related_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Create_Payment</name>
        <label>Assign Create Payment</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>paymentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>createPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_EOI_CA_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_Payment</name>
        <label>create Payment</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>createPayment.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Payment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Payment_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Payment_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Payment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Payment_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Cheque_Transaction_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Cheque_Transaction_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Branch_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Branch_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Payment_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Payment_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Receipt_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Receipt_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.Paid_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Paid_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.BankName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EOI_CA_Payment.Bank_Name1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createPayment.EOI_CA_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.EOI_CA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Create_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_If_EOI_CA_Opportunity</name>
        <label>check If EOI/CA Opportunity</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_EOI_CA_Opportunity_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>If EOI/CA Opportunity Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>EOI_CA_Booking</name>
        <label>EOI/CA Booking</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Opportunity_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>If Opportunity Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EOI/CA Related Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EOI/CA Related Booking</label>
    <loops>
        <name>Loop_on_EOI_CA_Payment</name>
        <label>Loop on EOI/CA Payment</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>EOI_CA_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_Payment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>paymentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>EOI_CA_Payment</name>
        <label>EOI/CA Payment</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EOI_CA_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EOI_CA_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_If_EOI_CA_Opportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EOI_CA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EOI</stringValue>
            </value>
        </filters>
        <filters>
            <field>EOI_CA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>EOI_CA_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOI_CA_stage__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EOI_CA_Booking</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>createPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>paymentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
</Flow>
