dynamix/force-app/main/default/flows/EOI_CA_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_Increment_EOI_CA_Number</name>
        <label>Copy 1 of Increment EOI/CA Number</label>
        <locationX>710</locationX>
        <locationY>2306</locationY>
        <actionName>EOI_CA_Number</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Suggested_Property</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>EOI_CA_Number</nameSegment>
        <outputParameters>
            <assignToReference>EOI_CA_Number</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Increment_Receipt_Number</name>
        <label>Copy 1 of Increment Receipt Number</label>
        <locationX>864</locationX>
        <locationY>890</locationY>
        <actionName>PaymentReceiptNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>PaymentReceiptNumber</nameSegment>
        <outputParameters>
            <assignToReference>ReceiptNumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Increment_EOI_CA_Number</name>
        <label>Increment EOI/CA Number</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <actionName>EOI_CA_Number</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Opportunity_for_CA</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>EOI_CA_Number</nameSegment>
        <outputParameters>
            <assignToReference>EOI_CA_Number</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Increment_Receipt_Number</name>
        <label>Increment Receipt Number</label>
        <locationX>424</locationX>
        <locationY>998</locationY>
        <actionName>PaymentReceiptNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Create_Payment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>PaymentReceiptNumber</nameSegment>
        <outputParameters>
            <assignToReference>ReceiptNumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendCAFormToCustomer</name>
        <label>SendCAFormToCustomer</label>
        <locationX>578</locationX>
        <locationY>3170</locationY>
        <actionName>SendEOI_CAFormToCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CA_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>CA_Form_Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EOI_CA_Number</name>
            <value>
                <elementReference>EOI_CA_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EOICA</name>
            <value>
                <elementReference>Get_Opportunity.EOI_CA__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organisationWideAddressId</name>
            <value>
                <elementReference>Get_Organization_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personEmail</name>
            <value>
                <elementReference>Get_Opportunity.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>Get_Opportunity.Project__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UnitNumber</name>
            <value>
                <elementReference>get_selected_Suggested_Property.Unit__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEOI_CAFormToCustomer</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEOI_CAFormToCustomer</name>
        <label>SendEOI_CAFormToCustomer</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <actionName>SendEOI_CAFormToCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EOI_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>EOI_Form_Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EOI_CA_Number</name>
            <value>
                <elementReference>EOI_CA_Formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EOICA</name>
            <value>
                <elementReference>EOI_CA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organisationWideAddressId</name>
            <value>
                <elementReference>Get_Organization_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personEmail</name>
            <value>
                <elementReference>Get_Opportunity.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>Get_Opportunity.Project__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEOI_CAFormToCustomer</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EOI_CA_Assignment</name>
        <label>EOI/CA Assignment</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EOI_CA_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EOI_CA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_Payment_Amount</name>
        <label>Sum of Payment Amount</label>
        <locationX>756</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>totalPayment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Payment.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Payment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CA</name>
        <choiceText>CA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EOI</name>
        <choiceText>EOI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EOI</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CA_Amount_Condition</name>
        <label>CA Amount Condition</label>
        <locationX>908</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CA_Amount_Is_Greater</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_CA__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>totalPayment</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_CA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Increment_EOI_CA_Number</targetReference>
            </connector>
            <label>CA Amount Is Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment</name>
        <label>Check Payment</label>
        <locationX>776</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Get_Organization_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Payment_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Payment</targetReference>
            </connector>
            <label>If Payment Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Suggested_Property</name>
        <label>Check Suggested Property</label>
        <locationX>710</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_CA_Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Suggested_Property_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suggested_Property</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_for_Suggested_Property</targetReference>
            </connector>
            <label>If Suggested Property Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Decision 6</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Payment_Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_6</name>
            <conditionLogic>(1 AND  2 ) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EOI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.EOI_CA_Payment_Received__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_EOI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.EOI_CA_Payment_Received__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_CA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Input</targetReference>
            </connector>
            <label>Outcome 1 of Decision 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_9</name>
        <label>Decision 9</label>
        <locationX>996</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_CA_Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_9</name>
            <conditionLogic>(1 AND 3) OR (2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_EOI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_CA__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EOI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Increment_Receipt_Number</targetReference>
            </connector>
            <label>Outcome 1 of Decision 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>EOI_Amount_Condition</name>
        <label>EOI Amount Condition</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EOI_Amount_Is_Greater</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_EOI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>totalPayment</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Project__r.Minimum_amount_for_EOI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_EOI_CA_Number</targetReference>
            </connector>
            <label>EOI Amount Is Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>EOI_CA_Condition</name>
        <label>EOI/CA Condition</label>
        <locationX>776</locationX>
        <locationY>2090</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_EOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EOI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOI_Amount_Condition</targetReference>
            </connector>
            <label>Is EOI</label>
        </rules>
        <rules>
            <name>Is_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Amount_Condition</targetReference>
            </connector>
            <label>Is CA</label>
        </rules>
    </decisions>
    <decisions>
        <name>EOI_CA_Launch_Date</name>
        <label>EOI/CA Launch Date</label>
        <locationX>1205</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Launch_Error_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_EOI</name>
            <conditionLogic>(1 AND 2 AND 3 AND 9 AND 10) OR (4 AND 5 AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_EOI_Period_s_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_EOI_Period_s_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EOI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_CA_Period_s_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_CA_Period_s_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EOI_CA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_CA_Period_s_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_CA_Period_s_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_EOI_Period_s_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Project__r.Launch_EOI_Period_s_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EOI_CA_Assignment</targetReference>
            </connector>
            <label>For EOI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Check</name>
        <label>Payment Check</label>
        <locationX>556</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>get_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Payment_Input_Screen</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CheckStatus_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cheque_Status__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ModeOfPayment_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaidBy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Paid_By__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentCategory_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Category__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentStatus_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Status__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentType_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SuggestedProperties</name>
        <dataType>String</dataType>
        <displayField>Suggested_Property_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Suggested_Property__c</object>
        <outputAssignments>
            <assignToReference>selectedSuggestedPropertyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EOI_CA_Formula</name>
        <dataType>String</dataType>
        <expression>{!EOI_CA_Value}+ &apos; - &apos; +TEXT({!EOI_CA_Number})</expression>
    </formulas>
    <formulas>
        <name>EOICAMinimumAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!EOI_CA_Value} == &apos;EOI&apos;, {!Get_Opportunity.Project__r.Minimum_amount_for_EOI__c}, {!Get_Opportunity.Project__r.Minimum_amount_for_CA__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>name</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Opportunity.Account.FirstName}&lt;&gt; null &amp;&amp; {!Get_Opportunity.Account.FirstName} &lt;&gt; &apos;&apos;, {!Get_Opportunity.Account.FirstName}+&apos; &apos;+ {!Get_Opportunity.Account.LastName} , {!Get_Opportunity.Account.LastName})</expression>
    </formulas>
    <interviewLabel>EOI/CA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EOI/CA Flow</label>
    <loops>
        <name>Iterate_Payment</name>
        <label>Iterate Payment</label>
        <locationX>668</locationX>
        <locationY>1598</locationY>
        <collectionReference>get_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_Payment_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Organization_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Payment</name>
        <label>Copy 1 of Create Payment</label>
        <locationX>424</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>get_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Copy_1_of_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name1__c</field>
            <value>
                <elementReference>Copy_1_of_BankRecord.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Status__c</field>
            <value>
                <elementReference>Copy_1_of_Cheque_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Transaction_Number__c</field>
            <value>
                <elementReference>Copy_1_of_Cheque_Transaction_Challan_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Copy_1_of_Cheque_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_By__c</field>
            <value>
                <elementReference>Copy_1_of_Paid_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <elementReference>Copy_1_of_Payment_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Copy_1_of_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Description__c</field>
            <value>
                <elementReference>Copy_1_of_Payment_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>Copy_1_of_Mode_of_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_No__c</field>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </inputAssignments>
        <object>EOI_CA_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>get_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name1__c</field>
            <value>
                <elementReference>BankRecord.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Status__c</field>
            <value>
                <elementReference>Cheque_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Transaction_Number__c</field>
            <value>
                <elementReference>Cheque_Transaction_Challan_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Cheque_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_By__c</field>
            <value>
                <elementReference>Paid_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <elementReference>Payment_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Description__c</field>
            <value>
                <elementReference>Payment_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>Mode_of_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_No__c</field>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </inputAssignments>
        <object>EOI_CA_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1205</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EOI_CA_Launch_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Address</name>
        <label>Get Organization Address</label>
        <locationX>776</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EOI_CA_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Project__r.Project_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Payment</name>
        <label>get Payment</label>
        <locationX>776</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EOI_CA_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_selected_Suggested_Property</name>
        <label>get selected Suggested Property</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Suggested_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Suggested_Property</name>
        <label>Suggested Property</label>
        <locationX>710</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Suggested_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Suggested_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_for_CA</name>
        <label>Copy 1 of Update Opportunity for CA</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>SendEOI_CAFormToCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOI_CA_Form_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_CA_Number__c</field>
            <value>
                <elementReference>EOI_CA_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_CA__c</field>
            <value>
                <stringValue>EOI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_CA_stage__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_for_CA</name>
        <label>Update Opportunity for CA</label>
        <locationX>578</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>get_selected_Suggested_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOI_CA_Form_Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_CA_Number__c</field>
            <value>
                <elementReference>EOI_CA_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_CA__c</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOI_CA_stage__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property</name>
        <label>Update  Property</label>
        <locationX>578</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Update_Suggested_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_selected_Suggested_Property.Unit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOI_CA_Property__c</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Status__c</field>
            <value>
                <stringValue>Confirmed Allocation</stringValue>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property</name>
        <label>Update Suggested Property</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>SendCAFormToCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EOI_CA__c</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Confirmed Allocation</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <screens>
        <name>CA_Screen</name>
        <label>CA  Screen</label>
        <locationX>578</locationX>
        <locationY>3278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CAFormSharedTocustomer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 83, 2);&quot;&gt;CA Form Link Shared with Customer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_CA_Error_Message_Screen</name>
        <label>Copy 1 of CA Error Message Screen</label>
        <locationX>842</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Suggested_Property_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt;Please short list a property from Property Inventory.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Message_Screen</name>
        <label>CA Error Message Screen</label>
        <locationX>1106</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CA_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt;Total payment added cannot be less than the amount&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt; mentioned in Minimum amount required for CA({!Get_Opportunity.Project__r.Minimum_amount_for_CA__c}).&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!totalPayment} Amount captured in the  Minimum amount required for CA.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Payment_Input_Screen</name>
        <label>Copy 1 of Payment Input Screen</label>
        <locationX>424</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Increment_Receipt_Number</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Payment_Category</name>
            <choiceReferences>PaymentCategory_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Mode_of_Payment</name>
            <choiceReferences>ModeOfPayment_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Cheque_Transaction_Challan_Number</name>
            <dataType>String</dataType>
            <fieldText>Cheque/ Transaction/ Challan Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Payment_Description</name>
            <fieldText>Payment Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_BankRecord</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BankName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bank Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Bank_Branch</name>
            <dataType>String</dataType>
            <fieldText>Bank Branch</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Cheque_Date</name>
            <dataType>Date</dataType>
            <fieldText>Cheque Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Cheque_Status</name>
            <choiceReferences>CheckStatus_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cheque Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Paid_By</name>
            <choiceReferences>PaidBy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Paid By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_CA_Error_Message_Screen</name>
        <label>Copy 2 of CA Error Message Screen</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_CA_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt;Total payment added cannot be less than the amount&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt; mentioned in Minimum amount required for &lt;/strong&gt;&lt;strong style=&quot;color: rgb(154, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!EOI_CA}(&lt;/strong&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt;{!EOICAMinimumAmount}).&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(154, 0, 0);&quot;&gt;{!totalPayment} Amount captured in the  Minimum amount required for {!EOI_CA}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EOI_Screen</name>
        <label>EOI Screen</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EOIFormSharedTocustomer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 83, 2);&quot;&gt;EOI Form Link Shared with Customer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EOI_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt;Total payment added cannot be less than the amount&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0);&quot;&gt; mentioned in Minimum amount required for EOI ({!Get_Opportunity.Project__r.Minimum_amount_for_EOI__c}).&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(154, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!totalPayment} Amount captured in the  Minimum amount required for EOI.  &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>1205</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>EOI_CA</name>
            <choiceReferences>EOI</choiceReferences>
            <choiceReferences>CA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>EOI/CA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_for_Suggested_Property</name>
        <label>Input Screen for Suggested Property</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_for_CA</targetReference>
        </connector>
        <fields>
            <name>Select_a_Property</name>
            <choiceReferences>SuggestedProperties</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Launch_Error_Message_Screen</name>
        <label>Launch Error Message Screen</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LaunchErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(118, 2, 2);&quot;&gt;{!EOI_CA} is not started.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Input</name>
        <label>Payment Input</label>
        <locationX>556</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Check</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_Payment</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add Payment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Input_Screen</name>
        <label>Payment Input Screen</label>
        <locationX>996</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_9</targetReference>
        </connector>
        <fields>
            <name>Payment_Category</name>
            <choiceReferences>PaymentCategory_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mode_of_Payment</name>
            <choiceReferences>ModeOfPayment_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cheque_Transaction_Challan_Number</name>
            <dataType>String</dataType>
            <fieldText>Cheque/ Transaction/ Challan Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Description</name>
            <fieldText>Payment Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BankRecord</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BankName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bank Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bank_Branch</name>
            <dataType>String</dataType>
            <fieldText>Bank Branch</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cheque_Date</name>
            <dataType>Date</dataType>
            <fieldText>Cheque Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cheque_Status</name>
            <choiceReferences>CheckStatus_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cheque Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mode_of_Payment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Paid_By</name>
            <choiceReferences>PaidBy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Paid By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1079</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EOI_CA_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EOI_CA_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSuggestedPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalPayment</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
