dynamix/force-app/main/default/flows/Generate_Demand.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Generate_Demands</name>
        <label>Generate Demands</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>GenerateDemandForSelectedMilestone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>milestoneRecords</name>
            <value>
                <elementReference>selectedMilestoneRecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateDemandForSelectedMilestone</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Document_Upload_Assignment</name>
        <label>Document Upload Assignment</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FileUploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Project_progress_details_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Docs_uploaded</name>
        <label>Check if Docs uploaded</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Document_Upload_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LenghtOfUpoadedDocs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Content_Version_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Progress_Status</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Progress_Status</name>
        <label>Check Progress Status</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Progress_Status_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_or_Partially_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Progress_Status1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Progress_Status1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Milestones_for_generate_demand</targetReference>
            </connector>
            <label>Completed or Partially Completed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Progress_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Progress_Status__c</picklistField>
        <picklistObject>Project_Progress__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>LenghtOfUpoadedDocs</name>
        <dataType>Number</dataType>
        <expression>LEN({!contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Generate Demand {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Demands</label>
    <loops>
        <name>Loop_of_Content_Documents</name>
        <label>Loop of Content Documents</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Content_Version</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Demands</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Version_record</name>
        <label>Get Content Version record</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_progress_details_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BookingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Architecture Certificate</stringValue>
            </value>
        </filters>
        <filters>
            <field>SObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Progress__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Progress_record</name>
        <label>Get Project Progress record</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Version_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Progress__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_of_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_of_Content_Documents</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BookingId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Architecture Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SObjectType__c</field>
            <value>
                <stringValue>Project_Progress__c</stringValue>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Progress</name>
        <label>Update Project Progress</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_of_Content_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Architect_Certification_Received_Date__c</field>
            <value>
                <elementReference>Architect_Certification_Received_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Architecture_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Status__c</field>
            <value>
                <elementReference>Progress_Status1</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Progress__c</object>
    </recordUpdates>
    <screens>
        <name>Progress_Status_Error_Screen</name>
        <label>Progress Status Error Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Progress_Status_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(234, 50, 50);&quot;&gt;You Can&apos;t process further for generate demand. because for do it progress status must be &quot;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: rgb(234, 50, 50);&quot;&gt;Partially Completed&quot; or &quot;Completed&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_progress_details_screen</name>
        <label>Project progress details screen</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Docs_uploaded</targetReference>
        </connector>
        <fields>
            <name>Invoice_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Project_Progress_record.Invoice_Date__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Architect_Certification_Received_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Project_Progress_record.Architect_Certification_Received_Date__c</elementReference>
            </defaultValue>
            <fieldText>Architect Certification Received Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Progress_Status1</name>
            <choiceReferences>Progress_Status</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Project_Progress_record.Progress_Status__c</elementReference>
            </defaultValue>
            <fieldText>Progress Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Architecture_Certi_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Architecture Certificate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contentDocIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>docUploadErrormsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(238, 49, 49);&quot;&gt;Please upload Architecture Certificate.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FileUploadSkipped</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Milestones_for_generate_demand</name>
        <label>Select Milestones for generate demand</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Project_Progress</targetReference>
        </connector>
        <fields>
            <name>milestoneSelectionLwc</name>
            <extensionName>c:inactiveMilestoneofProjectProg</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>projectProgId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selMilestoneRecords</name>
                <value>
                    <elementReference>selectedMilestoneRecords</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedMilestoneRecords</assignToReference>
                <name>selMilestoneRecords</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>demandGenerateSuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(17, 169, 65); font-size: 14px;&quot;&gt;Milestone records has been activated and it&apos;s Demand Letter has also been  generated &lt;/span&gt;&lt;span style=&quot;color: rgb(17, 169, 65); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;successfully&lt;/span&gt;&lt;span style=&quot;color: rgb(17, 169, 65); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Progress_record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileUploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedMilestoneRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
