dynamix/force-app/main/default/flows/Generate_Allotment_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Allotment_Letter</name>
        <label>Generate Allotment Letter</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GenerateAllotmentLetter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Allotment_Letter_File</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateAllotmentLetter</nameSegment>
        <outputParameters>
            <assignToReference>FileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Allotment_Letter_File</name>
        <label>Navigate to Allotment Letter File</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>c:navigateToFiles</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Set_Value_in_Allotment_Letter_Generation_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>FileId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToFiles</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Generate Allotment Letter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Allotment Letter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Set_Value_in_Allotment_Letter_Generation_Date</name>
        <label>Set Value in Allotment Letter Generation Date</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Allotment_Letter_Ready_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allotment_Letter_Generation_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Allotment_Letter_Ready_Screen</name>
        <label>Allotment Letter Ready Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Allotment_Letter</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(18, 208, 116); font-size: 14px;&quot;&gt;Allotment Letter has been Generated Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Allotment_Letter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
