dynamix/force-app/main/default/flows/Generate_Agreement_of_Sale_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Agreement_of_Sale_Documents</name>
        <label>Generate Agreement of Sale Documents</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GenerateAFSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_file</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>BookingID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateAFSDocuments</nameSegment>
        <outputParameters>
            <assignToReference>FileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_file</name>
        <label>Navigate to file</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>c:navigateToFiles</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>FileId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToFiles</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Generate Agreement of Sale flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Agreement of Sale flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Agreement_of_Sale_Documents</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BookingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
