dynamix/force-app/main/default/flows/Generat_Escalation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generat_Escalation_Form</name>
        <label>Generat Escalation Form</label>
        <locationX>313</locationX>
        <locationY>285</locationY>
        <actionName>GeneratEscalationForm</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_GeneratEscalationForm</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeneratEscalationForm</nameSegment>
        <outputParameters>
            <assignToReference>fileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_GeneratEscalationForm</name>
        <label>Navigate to GeneratEscalationForm</label>
        <locationX>486</locationX>
        <locationY>406</locationY>
        <actionName>c:navigateToFiles</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>fileId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToFiles</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Generat Escalation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generat Escalation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Generat_Escalation_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>fileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
