dynamix/force-app/main/default/flows/Generate_Cost_Sheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_For_custom_Payment_Paln_0_0</name>
        <label>Approval For custom Payment Paln</label>
        <locationX>2074</locationX>
        <locationY>1298</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_for_Cost_sheet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Approval for Custom Payment Plan</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_to_Site_Head</name>
        <label>Approval to Site Head</label>
        <locationX>1018</locationX>
        <locationY>1406</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Screen_for_Sales_Head</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_For_Discount_to_Site_Head</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Approval for Discount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_to_Site_Head_0</name>
        <label>Approval to Site Head</label>
        <locationX>1282</locationX>
        <locationY>1406</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Screen_for_Sales_Head_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_For_Discount_to_Project_Head</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Approval for Discount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_to_Site_Head_0_0</name>
        <label>Approval to Site Head</label>
        <locationX>1546</locationX>
        <locationY>1406</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Approval_Screen_for_Sales_Head_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_For_Discount_to_Project_Head</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Approval for Discount</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>567</locationX>
        <locationY>1958</locationY>
        <actionName>GenerateCostSheet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Cost_Sheet</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>paymentPlanId</name>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateCostSheet</nameSegment>
        <outputParameters>
            <assignToReference>fileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>get_Base_Price</name>
        <label>get Base Price</label>
        <locationX>1414</locationX>
        <locationY>1082</locationY>
        <actionName>GetBasePrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Checking_Discount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>PropertyId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetBasePrice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Selected_Payment_Plan</name>
        <label>Get Selected Payment Plan</label>
        <locationX>655</locationX>
        <locationY>566</locationY>
        <actionName>CustomPaymentPlan</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Login_User_is_admin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>planId</name>
            <value>
                <elementReference>Choose_a_Payment_Plan</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomPaymentPlan</nameSegment>
        <outputParameters>
            <assignToReference>Milestones</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Cost_Sheet</name>
        <label>Navigate to Cost Sheet</label>
        <locationX>567</locationX>
        <locationY>2066</locationY>
        <actionName>c:navigateToFiles</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>fileId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToFiles</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Custom</name>
        <choiceText>Custom</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Custom_Payment_Plan</name>
        <label>Check_Custom_Payment_Plan</label>
        <locationX>952</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Check_Payment_Paln_and_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Plan Custom</defaultConnectorLabel>
        <rules>
            <name>Payment_not_Plan_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Payment_Plan</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property</targetReference>
            </connector>
            <label>Payment not Plan Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Custom_Payment_Plan</name>
        <label>Check if Custom Payment Plan</label>
        <locationX>567</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Payment_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Plan != Custom</defaultConnectorLabel>
        <rules>
            <name>Payment_Plan_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Payment_Plan</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_If_Login_User_is_admin</targetReference>
            </connector>
            <label>Payment Plan == Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Login_User_is_admin</name>
        <label>Check If Login User is admin</label>
        <locationX>567</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_Custom_Payment_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Paymnet_Plan_is_Custom</targetReference>
            </connector>
            <label>if Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Paln_and_Discount</name>
        <label>Check Payment Paln and Discount</label>
        <locationX>1414</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Payment_Plan_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Payment_Plan_is_custom_and_discount_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Payment_Plan</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Plan_0_0_0_0</targetReference>
            </connector>
            <label>If Payment Plan is custom and discount is 0</label>
        </rules>
        <rules>
            <name>if_Payment_Plan_is_standard_and_discount_not_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Payment_Plan</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Base_Price</targetReference>
            </connector>
            <label>if Payment Plan is standard and discount not 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Discount</name>
        <label>Checking Discount</label>
        <locationX>1414</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_Suggested_Property_for_custom_plan_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_discount_less_than_equal_5_Lakhs</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property_for_custom_plan_0_0_0</targetReference>
            </connector>
            <label>if discount less than equal 5 Lakhs</label>
        </rules>
        <rules>
            <name>if_discount_is_greater_than_5_Lakhs_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property_for_custom_plan_0_0_0_0</targetReference>
            </connector>
            <label>if discount is greater than 5 Lakhs (SM)</label>
        </rules>
        <rules>
            <name>if_discount_is_greater_than_5_Lakhs_Site_Head</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Discount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Head</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property_for_custom_plan_0_0_0_0_0_0</targetReference>
            </connector>
            <label>if discount is greater than 5 Lakhs (Site Head)</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Paymnet_Plan_is_Custom</name>
        <label>If Paymnet Plan is Custom</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Update_Suggested_Property_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_a_Payment_Plan</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Payment_Plan_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>if custom</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PaymentPlan</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Opportunity.Project__c</elementReference>
            </value>
        </filters>
        <object>Payment_Plan__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SuggestedProperties</name>
        <dataType>String</dataType>
        <displayField>Suggested_Property_Name__c</displayField>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Short Listed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed Allocation</stringValue>
            </value>
        </filters>
        <object>Suggested_Property__c</object>
        <outputAssignments>
            <assignToReference>Milestones</assignToReference>
            <field>Payment_Plan_Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PropertyId</assignToReference>
            <field>Unit__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUserID15DigitId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>fivePercentageInPercentage</name>
        <dataType>Number</dataType>
        <expression>({!Discount}/{!get_Base_Price})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FivePercentOfBasicPrice</name>
        <dataType>Currency</dataType>
        <expression>{!get_Base_Price} * 0.05</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Generate Cost Sheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Cost Sheet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get Current Opportunity</label>
        <locationX>567</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Cost_Sheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_suggested_Property_Record</name>
        <label>Get suggested Property Record</label>
        <locationX>567</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Custom_Payment_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Suggested_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Suggested_Property</name>
        <label>Update Suggested Property</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_0</name>
        <label>Update Suggested Property</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_for_custom_plan_0_0_0</name>
        <label>Update_Suggested_Property_for_custom plan</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Approval_to_Site_Head</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_percentage__c</field>
            <value>
                <elementReference>fivePercentageInPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Discount Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_for_custom_plan_0_0_0_0</name>
        <label>Update_Suggested_Property_for_custom plan</label>
        <locationX>1282</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Approval_to_Site_Head_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_percentage__c</field>
            <value>
                <elementReference>fivePercentageInPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Discount Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_for_custom_plan_0_0_0_0_0</name>
        <label>Update_Suggested_Property_for_custom plan</label>
        <locationX>1810</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Short Listed</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_for_custom_plan_0_0_0_0_0_0</name>
        <label>Update_Suggested_Property_for_custom plan</label>
        <locationX>1546</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Approval_to_Site_Head_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_percentage__c</field>
            <value>
                <elementReference>fivePercentageInPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Discount Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_for_custom_plan_0_0_0_0_0_0_0</name>
        <label>Update_Suggested_Property_for_custom plan</label>
        <locationX>2074</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Approval_For_custom_Payment_Paln_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_a_Property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Plan_Detail__c</field>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_0_0</name>
        <label>Approval</label>
        <locationX>2074</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <fields>
            <name>displyMsg_0_0</name>
            <fieldText>&lt;p&gt;Send for Custom Plan Approval, if approved it will go for discount approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Screen_for_Sales_Head</name>
        <label>Approval Screen for Sales Head</label>
        <locationX>1018</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <fields>
            <name>SendApprovalTtextForSaleshead</name>
            <fieldText>&lt;p&gt;Approval send to Sales Head&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Screen_for_Sales_Head_0</name>
        <label>Approval Screen for Sales Head</label>
        <locationX>1282</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <fields>
            <name>SendApprovalTtextForSaleshead_0</name>
            <fieldText>&lt;p&gt;Approval send to Higher Management&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_Screen_for_Sales_Head_0_0</name>
        <label>Approval Screen for Sales Head</label>
        <locationX>1546</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <fields>
            <name>SendApprovalTtextForSaleshead_0_0</name>
            <fieldText>&lt;p&gt;Approval send to Higher Management&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Cost_Sheet</name>
        <label>Generate Cost Sheet</label>
        <locationX>567</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_suggested_Property_Record</targetReference>
        </connector>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Disclaimer: &quot;Please ensure that the cost sheet generation date and the booking date should be the same&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_a_Property</name>
            <choiceReferences>SuggestedProperties</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_a_Payment_Plan</name>
            <choiceReferences>PaymentPlan</choiceReferences>
            <choiceReferences>Custom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Payment Plan</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 5, 5);&quot;&gt;Discount should be greater or equal to 0.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Discount} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Plan_0_0_0_0</name>
        <label>Payment Plan</label>
        <locationX>754</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checking_Discount</targetReference>
        </connector>
        <fields>
            <name>WarningMessage3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Disclaimer: &quot;Please ensure that the cost sheet generation date and the booking date should be the same&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomPaymentPlan_0_0_0_0</name>
            <extensionName>c:customPaymentPlan</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>planJSON</name>
                <value>
                    <elementReference>Milestones</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Milestones</assignToReference>
                <name>planJSON</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Plan_0_0_0_0_0</name>
        <label>Payment Plan</label>
        <locationX>2074</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Suggested_Property_for_custom_plan_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>WarningMessage4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Disclaimer: &quot;Please ensure that the cost sheet generation date and the booking date should be the same&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomPaymentPlan_0_0_0_0_0</name>
            <extensionName>c:customPaymentPlan</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>planJSON</name>
                <value>
                    <elementReference>Milestones</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Milestones</assignToReference>
                <name>planJSON</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Plan_0_0_0_0_0_0_0</name>
        <label>Payment Plan</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Suggested_Property_0</targetReference>
        </connector>
        <fields>
            <name>WarningMessage2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Disclaimer: &quot;Please ensure that the cost sheet generation date and the booking date should be the same&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomPaymentPlan_0_0_0_0_0_0_0</name>
            <extensionName>c:customPaymentPlan</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>planJSON</name>
                <value>
                    <elementReference>Milestones</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Milestones</assignToReference>
                <name>planJSON</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
