dynamix/force-app/main/default/flows/Manage_Allotment_Letters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Genrate_Lettter_Of_Confirmatiom</name>
        <label>Genrate Lettter Of Confirmatiom</label>
        <locationX>419</locationX>
        <locationY>349</locationY>
        <actionName>genrateLetterOfConfirmation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Interchange_Allotment_Letter</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>genrateLetterOfConfirmation</nameSegment>
        <outputParameters>
            <assignToReference>FileId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Interchange_Allotment_Letter</name>
        <label>Navigate to Interchange Allotment Letter</label>
        <locationX>453</locationX>
        <locationY>692</locationY>
        <actionName>c:navigateToFiles</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fileId</name>
            <value>
                <elementReference>FileId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToFiles</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Bareshell</name>
        <choiceText>Bareshell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bareshell</stringValue>
        </value>
    </choices>
    <choices>
        <name>InterchangeLettter</name>
        <choiceText>Interchange of floors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interchange of floors</stringValue>
        </value>
    </choices>
    <choices>
        <name>LettterOfConfirmation</name>
        <choiceText>Lettter of confirmation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lettter of confirmation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lettter_Type</name>
        <label>Lettter Type</label>
        <locationX>719</locationX>
        <locationY>432</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Letter_Of_Confimation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Letter_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LettterOfConfirmation</elementReference>
                </rightValue>
            </conditions>
            <label>Letter Of Confimation</label>
        </rules>
    </decisions>
    <interviewLabel>Manage Allotment Letters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Allotment Letters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>706</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lettter_Type</targetReference>
        </connector>
        <fields>
            <name>Letter_Type</name>
            <choiceReferences>LettterOfConfirmation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Letter Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Genrate_Lettter_Of_Confirmatiom</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BareshellForClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Bareshell</stringValue>
        </value>
    </variables>
    <variables>
        <name>FileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InterchangeVarForClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Interchange lettter</stringValue>
        </value>
    </variables>
    <variables>
        <name>LetterOfConfimationForClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lettter Of Confirmation</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
