dynamix/force-app/main/default/flows/Manage_Loan_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Primary_Loan</name>
        <label>Update Primary Loan</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Get_Booking.Primary_Loan_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_an_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_booking</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Registered</name>
        <label>Check if Registered</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Loan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Closure_Form</targetReference>
            </connector>
            <label>If Registered</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SanctionedLoans</name>
        <dataType>String</dataType>
        <displayField>Home_LoanInstitution__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sanction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sanctioned</stringValue>
            </value>
        </filters>
        <object>Bank_Loan_Details__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Loan Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Loan Applications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Registered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_booking</name>
        <label>Update booking</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <inputReference>Get_Booking</inputReference>
    </recordUpdates>
    <screens>
        <name>Loan_Applications</name>
        <label>Loan Applications</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
        <fields>
            <name>Select_an_Application</name>
            <choiceReferences>SanctionedLoans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Application</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_Closure_Form</name>
        <label>Loan Closure Form</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Primary_Loan</targetReference>
        </connector>
        <fields>
            <name>Loan_Closure_Date</name>
            <dataType>Date</dataType>
            <fieldText>Loan Closure Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LoanClosureDetail</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Loan Closure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loan_Applications</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
