dynamix/force-app/main/default/flows/Manage_Payment_Plan_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetCurrentBookingPlan</name>
        <label>GetCurrentBookingPlan</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>BookingPaymentPlan</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingPaymentPlan</nameSegment>
        <outputParameters>
            <assignToReference>NewAgreementValue</assignToReference>
            <name>newAgreementValue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NewGSTValue</assignToReference>
            <name>newGSTValue</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Milestones</assignToReference>
            <name>stringpaymentPlanLst</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Payment_Milestones</name>
        <label>Update Payment Milestones</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>UpdateBookingPaymentMilestones</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DeleteIdsOfPM</name>
            <value>
                <elementReference>DeletedIdOfPM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>JsonMilestone</name>
            <value>
                <elementReference>UpdatedMilestone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newAgreementValue</name>
            <value>
                <elementReference>NewAgreementValueWithAdditionalCarParking</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateBookingPaymentMilestones</nameSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Milestone_Assignment</name>
        <label>Update Milestone Assignment</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMilestone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Milestones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Milestones</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>NewAgreementValueWithAdditionalCarParking</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking_Record.Payment_Milestone_Amount__c}+{!Get_Booking_Record.Additional_Car_Parking__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Payment Plan - Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Payment Plan - Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Payment_Milestones</name>
        <label>Payment Milestones</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Milestone_Assignment</targetReference>
        </connector>
        <fields>
            <name>BookingPaymentPlan</name>
            <extensionName>c:bookingPaymentPlan</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>planJSON</name>
                <value>
                    <elementReference>Milestones</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newGSTValue</name>
                <value>
                    <elementReference>NewGSTValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newAgreementValue</name>
                <value>
                    <elementReference>NewAgreementValueWithAdditionalCarParking</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Milestones</assignToReference>
                <name>planJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>bookId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DeletedIdOfPM</assignToReference>
                <name>deletedPM</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentBookingPlan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeletedIdOfPM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAgreementValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NewGSTValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentMilestoneData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Milestones__c</objectType>
    </variables>
    <variables>
        <name>PMDeteleIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedMilestone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
