dynamix/force-app/main/default/flows/Manage_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Ledger</name>
        <label>Generate Ledger</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <actionName>GenerateLedgerDocument</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateLedgerDocument</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_NOC1</name>
        <label>Generate NOC</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <actionName>GenerateNOCClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Updaet_Booking</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>Get_Booking.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateNOCClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Possession_Letter_Document</name>
        <label>Generate Possession Letter Document</label>
        <locationX>4274</locationX>
        <locationY>674</locationY>
        <actionName>GeneratePossessionLetter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeneratePossessionLetter</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GenerateROC</name>
        <label>GenerateROC</label>
        <locationX>3218</locationX>
        <locationY>1106</locationY>
        <actionName>GenerateROCClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateROCClass</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>AddDiscount</name>
        <choiceText>Discount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discount</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddParking</name>
        <choiceText>Manage Parking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Parking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Allotmentletters</name>
        <choiceText>Allotment Letters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Allotment Letters</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancelBooking</name>
        <choiceText>Terminate/cancel&amp;nbsp;Booking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeApplicant</name>
        <choiceText>Manage Applicants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Applicant</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerLedgerDocument</name>
        <choiceText>Customer Ledger Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Ledger Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>Generate_Possession_Letter</name>
        <choiceText>Generate Possession Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate Possession Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>GenerateAgreementofSale</name>
        <choiceText>Generate Agreement of Sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate Agreement of Sale</stringValue>
        </value>
    </choices>
    <choices>
        <description>Generate SDR Letter</description>
        <name>GenerateSDRLetter</name>
        <choiceText>Generate SDR Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate SDR Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>InterestWaiver</name>
        <choiceText>Interest Waiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interest Waiver</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManagePaymentPlan</name>
        <choiceText>Manage Payment Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage Payment Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>NOC</name>
        <choiceText>Generate NOC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate NOC</stringValue>
        </value>
    </choices>
    <choices>
        <name>ROC</name>
        <choiceText>Generate ROC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generate ROC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Type</name>
        <label>Action Type</label>
        <locationX>2492</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Applicant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangeApplicant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Booking_Status</targetReference>
            </connector>
            <label>Change Applicant</label>
        </rules>
        <rules>
            <name>Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddDiscount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Discount</targetReference>
            </connector>
            <label>Discount</label>
        </rules>
        <rules>
            <name>TransferBooking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transfer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Booking</targetReference>
            </connector>
            <label>TransferBooking</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelBooking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Booking</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Generate_Agreement_of_Sale</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GenerateAgreementofSale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Agreement_of_Sale_flow</targetReference>
            </connector>
            <label>Generate Agreement of Sale</label>
        </rules>
        <rules>
            <name>Customer_Ledger</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CustomerLedgerDocument</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Ledger</targetReference>
            </connector>
            <label>Customer Ledger</label>
        </rules>
        <rules>
            <name>Interest_Waiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InterestWaiver</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Interest_Wave_Off</targetReference>
            </connector>
            <label>Interest Waiver</label>
        </rules>
        <rules>
            <name>Manage_Payment_Plan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ManagePaymentPlan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Payment_Plan_0</targetReference>
            </connector>
            <label>Manage Payment Plan</label>
        </rules>
        <rules>
            <name>Generate_SDR_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GenerateSDRLetter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallGenerate_SDR_Letter</targetReference>
            </connector>
            <label>Generate SDR Letter</label>
        </rules>
        <rules>
            <name>GenerateNOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NOC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Rehgistration_Is_Complete</targetReference>
            </connector>
            <label>Generate NOC</label>
        </rules>
        <rules>
            <name>Generate_ROC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ROC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Booking_0</targetReference>
            </connector>
            <label>Generate ROC</label>
        </rules>
        <rules>
            <name>Generate_Possession_Handover_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Generate_Possession_Letter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handover_of_NDC</targetReference>
            </connector>
            <label>Generate Possession Handover Letter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agreement_Shared_Date_Is_Not_Null</name>
        <label>Agreement Shared Date Is Not Null</label>
        <locationX>3350</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shared_Date_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_0.Agreement_Shared_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GenerateROC</targetReference>
            </connector>
            <label>Shared Date Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Booking_Status</name>
        <label>Check Booking Status</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>errorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.Registration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Co_Applicants</targetReference>
            </connector>
            <label>If Not Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Handover_of_NDC</name>
        <label>Handover of NDC</label>
        <locationX>4406</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Handover_of_NDC_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.NDC_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Possession_Letter_Document</targetReference>
            </connector>
            <label>Handover of NDC Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Partener_Funded_is_True</name>
        <label>If Partener Funded is True</label>
        <locationX>3548</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Fasle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funded_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Partner_funded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Shared_Date_Is_Not_Null</targetReference>
            </connector>
            <label>Funded is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Project_IS_NOt_null</name>
        <label>If Project IS NOt null</label>
        <locationX>3779</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_IS_NOt_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_0.Project_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project</targetReference>
            </connector>
            <label>Project IS NOt null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Rehgistration_Is_Complete</name>
        <label>If Registration Is Complete</label>
        <locationX>2822</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SCreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Registration_Is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_NOC1</targetReference>
            </connector>
            <label>Registration Is Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Manage Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>2492</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_0</name>
        <label>Get Booking</label>
        <locationX>3779</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Project_IS_NOt_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>2492</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>3548</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Partener_Funded_is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_0.Project_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updaet_Booking</name>
        <label>Updaet Booking</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>noca</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NOC_Uploaded_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>3218</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>ROC1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ROC_Uploaded_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>4538</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Please get the No due clearance from the accounts team to generate the possession letter.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormEssage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;This booking has already been registered. Hence, you cannot change the role of applicants&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fasle</name>
        <label>Fasle</label>
        <locationX>3746</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scree</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Partner Funded Checkbox On Project is False.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Booking</name>
        <label>Manage Booking</label>
        <locationX>2492</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
        <fields>
            <name>Select_Action</name>
            <choiceReferences>ChangeApplicant</choiceReferences>
            <choiceReferences>AddDiscount</choiceReferences>
            <choiceReferences>Transfer</choiceReferences>
            <choiceReferences>CancelBooking</choiceReferences>
            <choiceReferences>GenerateAgreementofSale</choiceReferences>
            <choiceReferences>CustomerLedgerDocument</choiceReferences>
            <choiceReferences>InterestWaiver</choiceReferences>
            <choiceReferences>ManagePaymentPlan</choiceReferences>
            <choiceReferences>GenerateSDRLetter</choiceReferences>
            <choiceReferences>NOC</choiceReferences>
            <choiceReferences>ROC</choiceReferences>
            <choiceReferences>Generate_Possession_Letter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noca</name>
        <label>noca</label>
        <locationX>2690</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NOc11</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;NOC Has Been Generated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ROC1</name>
        <label>ROC</label>
        <locationX>3218</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ROC2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;ROC Document Has Been Generated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCreen</name>
        <label>SCreen</label>
        <locationX>2954</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Registraoion</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please Complete The Registration Process To Generate The NOC.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen</label>
        <locationX>3482</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Agreement1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Agreement Shared Date Should Not Be Null.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2366</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallGenerate_SDR_Letter</name>
        <label>Call Generate SDR Letter</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <flowName>Generate_SDR_Letter</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Cancel_Booking</name>
        <label>Cancel Booking</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <flowName>Cancel_Booking</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Generate_Agreement_of_Sale_flow</name>
        <label>Generate_Agreement_of_Sale_flow</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <flowName>Generate_Agreement_of_Sale_flow</flowName>
        <inputAssignments>
            <name>BookingID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Manage_Co_Applicants</name>
        <label>Manage Co-Applicants</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>Manage_Co_Applicants_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Discount</name>
        <label>Manage Discount</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <flowName>Manage_Discount_for_Price_Detail</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Interest_Wave_Off</name>
        <label>Manage Interest Wave Off</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <flowName>Manage_Interest_WaveOff</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Manage_Payment_Plan_0</name>
        <label>Manage Payment Plan</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <flowName>Manage_Payment_Plan_Booking</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Transfer_Booking</name>
        <label>Transfer Booking</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>Transfer_Booking_Update_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>FileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
