dynamix/force-app/main/default/flows/Manage_Co_Applicants_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Add_New_Applicants</name>
        <label>Add New Applicants</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Delete_New_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Applicants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoApplicant.newApplicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Applicants</targetReference>
            </connector>
            <label>New Applicants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_New_Applicants</name>
        <label>Delete New Applicants</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Applicants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoApplicant.delApplicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Applicantss</targetReference>
            </connector>
            <label>Delete Applicants</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Previous_primary_found</name>
        <label>If Previous primary found</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Applicant_with_sap_code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary</targetReference>
            </connector>
            <label>yes found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Existing_Applicants</name>
        <label>Update Existing Applicants</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Get_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Applicants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoApplicant.updateApplicants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicantss</targetReference>
            </connector>
            <label>Update Applicants</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Manage Co-Applicants Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Co-Applicants</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Applicants</name>
        <label>Create New Applicants</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Delete_New_Applicants</targetReference>
        </connector>
        <inputReference>CoApplicant.newApplicants</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Applicantss</name>
        <label>Delete Applicants</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Existing_Applicants</targetReference>
        </connector>
        <inputReference>CoApplicant.delApplicants</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Applicant_with_sap_code</name>
        <label>Get Applicant with sap code</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Previous_primary_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sap_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Applicants</name>
        <label>Get Applicants</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Co_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_primary_applicant</name>
        <label>Get Previous primary applicant</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking.Primary_Applicant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary</name>
        <label>Get Primary</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_primary_applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Applicantss</name>
        <label>Update Applicants</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Get_Primary</targetReference>
        </connector>
        <inputReference>CoApplicant.updateApplicants</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Get_Applicant_with_sap_code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Applicant__c</field>
            <value>
                <elementReference>Get_Primary.Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Primary</name>
        <label>Update Previous Primary</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Applicant_with_sap_code.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sap_Code__c</field>
        </inputAssignments>
        <object>Co_Applicant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary</name>
        <label>Update Primary</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Update_Previous_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sap_Code__c</field>
            <value>
                <elementReference>Get_Applicant_with_sap_code.Sap_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Co_Applicant__c</object>
    </recordUpdates>
    <screens>
        <name>Manage_Co_Applicants</name>
        <label>Manage Co-Applicants</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_New_Applicants</targetReference>
        </connector>
        <fields>
            <name>CoApplicant</name>
            <extensionName>c:addCoApplicant</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicants</name>
                <value>
                    <elementReference>Get_Applicants</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bookingId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Applicants</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>documentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
