dynamix/force-app/main/default/flows/Manage_Interest_WaveOff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Apporval_process</name>
        <label>Check Apporval process</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>checkRecordIsInApproval</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Apporval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>checkRecordIsInApproval</nameSegment>
        <outputParameters>
            <assignToReference>approvalcheck</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Milestone_for_WaveOff</name>
        <label>Get Payment Milestone for WaveOff</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>ManageInterestWaveOff</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Manage_Interest_WaveOff</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManageInterestWaveOff</nameSegment>
        <outputParameters>
            <assignToReference>Milestones</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_For_Interest_Wave_Off</name>
        <label>Submit For Interest Wave Off</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Interest_Wave_Off_Approval_Booking</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Submit For Interest Wave Off </stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Hidden_Interest_Wave_Off_Amount</name>
        <label>Update Hidden Interest Wave Off Amount</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>updateInterestWaveOffAmountOnBooking</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Submit_For_Interest_Wave_Off</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputedInterestValue</name>
            <value>
                <elementReference>IntetesWaveOffAmount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>updateInterestWaveOffAmountOnBooking</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Apporval</name>
        <label>Check Apporval</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Milestone_for_WaveOff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apporval_process_on_going</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>approvalcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApporvalGoingON</targetReference>
            </connector>
            <label>Apporval process on going</label>
        </rules>
    </decisions>
    <formulas>
        <name>IntetesWaveOffAmount</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!InputedInterestAmount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Interest WaveOff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Interest WaveOff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ApporvalGoingON</name>
        <label>ApporvalGoingON</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalMsg</name>
            <fieldText>&lt;p&gt;Onther Apporval process is going on.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manage_Interest_WaveOff</name>
        <label>Manage Interest WaveOff</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Hidden_Interest_Wave_Off_Amount</targetReference>
        </connector>
        <fields>
            <name>ManageInterestWaveOff</name>
            <extensionName>c:manageInteresWaveOff</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>planJSON</name>
                <value>
                    <elementReference>Milestones</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Milestones</assignToReference>
                <name>planJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InputedInterestAmount</assignToReference>
                <name>intersAmountinput</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Apporval_process</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalcheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputedInterestAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestones</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
