dynamix/force-app/main/default/flows/New_Create_Payment_And_Payment_Line_Entry_For_Interest_Wave_Off.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Payment_Line_Item_For_Milestone</name>
        <label>Create Payment Line Item For Milestone</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>CreatePaymentLineItemForMilestone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Booking_Payment_Milestones_For_Wave_Off</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Unit Cost</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Create_Payment_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreatePaymentLineItemForMilestone</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Getting_Receipt_Number</name>
        <label>Getting_Receipt_Number</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>PaymentReceiptNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>PaymentReceiptNumber</nameSegment>
        <outputParameters>
            <assignToReference>ReceiptNumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Booking_Payment_Milestones_For_Wave_Off</name>
        <label>Update Booking Payment Milestones For Wave Off</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>UpdatePaymentMilestonesForWaveOff</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdatePaymentMilestonesForWaveOff</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>recordId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Create Payment And Payment Line Entry For Interest Wave Off</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create_Payment_Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Payment_Line_Item_For_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>get_booking_Record.Hidden_Interest_Wave_Off_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Note_Reason__c</field>
            <value>
                <stringValue>Interest Wave Off</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <stringValue>Unit Cost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_No__c</field>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_booking_Record</name>
        <label>get booking Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Receipt_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_booking_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
