dynamix/force-app/main/default/flows/Payment_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Generate_Refund_letter</name>
        <label>Generate Refund letter</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <actionName>GenerateRefundletter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payment_Added_Screen</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>closedReason</name>
            <value>
                <elementReference>Get_Booking_Record.Closed_Reason__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentId</name>
            <value>
                <elementReference>Create_Payment_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentType</name>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateRefundletter</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Getting_Receipt_Number</name>
        <label>Getting Receipt Number</label>
        <locationX>1128</locationX>
        <locationY>1298</locationY>
        <actionName>PaymentReceiptNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <nameSegment>PaymentReceiptNumber</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ReceiptNumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>PaymentProcessHandler</name>
        <label>PaymentProcessHandler</label>
        <locationX>1128</locationX>
        <locationY>2222</locationY>
        <actionName>PaymentProcessHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PaymentId</name>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentProcessHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_debit_and_stage</name>
        <label>check debit and stage</label>
        <locationX>583</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Check_Payment_Amount_with_Booking_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_stage_of_booking</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Refund_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Closed_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Closed_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_booking_stage_and_closed_reason</targetReference>
            </connector>
            <label>check stage of booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Narration_on_Possession_Is_Null_Or_Not</name>
        <label>Check If Narration on Possession Is Null Or Not</label>
        <locationX>887</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Possession/Handover(Other) Charge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Project_Name__r.Possession_Other_Charges_Narration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security and Share Money</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Project_Name__r.Security_and_Share_Money_Narration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Possession/Handover(Other) Charge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Security and Share Money</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Payment_Details</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Payment_Category_is_TDS_or_not</name>
        <label>Check If Payment Category is TDS or not</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>TDS_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TDS</defaultConnectorLabel>
        <rules>
            <name>Not_TDS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TDS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Narration_on_Possession_Is_Null_Or_Not</targetReference>
            </connector>
            <label>Not TDS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Unit_Payment_or_GST_Payment</name>
        <label>Check if Unit Payment or GST Payment</label>
        <locationX>1128</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Payment_Added_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Cost_or_GST_Paid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit Cost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Possession/Handover(Other) Charge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Possession/Handover(Other) Charge GST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tansfer Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Refund_Type</targetReference>
            </connector>
            <label>Unit Cost or GST Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Amount_with_Booking_Agreement</name>
        <label>Check Payment Amount with Booking Agreement</label>
        <locationX>853</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Getting_Receipt_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Amount_should_not_be_grater_than_Agreement_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Booking_Record.Agreement_Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unit Cost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Payment</targetReference>
            </connector>
            <label>Payment Amount should not be grater than Agreement Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Refund_Type</name>
        <label>check Refund Type</label>
        <locationX>974</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Payment_Added_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_Type_equal_to_credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refund_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Refund_letter</targetReference>
            </connector>
            <label>Refund Type equal to credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Payment_with_Same_Payment_Category_Cheque_No</name>
        <label>Get Payment with Same Payment Category &amp; Cheque No</label>
        <locationX>316</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>GST_applicable_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Payment_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Payment_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Record_Screen</targetReference>
            </connector>
            <label>Duplicate Payment Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>GST_applicable_or_not</name>
        <label>GST applicable or not</label>
        <locationX>316</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>check_debit_and_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_project_GST_true_or_false</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record.Project_Name__r.GST_Applicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payment_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GST_Not_applicable</targetReference>
            </connector>
            <label>check project GST true or false</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChequeStatus_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cheque_Status__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaidBy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Paid_By__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentCategory_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Category__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentStatus_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Status__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentType_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RefundType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Refund_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Checkbookingstage</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!Get_Booking_Record.Stage__c}) == &apos;Terminated&apos;, true,false)</expression>
    </formulas>
    <formulas>
        <name>IncrementBy1</name>
        <dataType>Number</dataType>
        <expression>{!Get_Booking_Record.Project_Name__r.Last_Receipt_Number__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Payment_Status</name>
        <dataType>String</dataType>
        <expression>IF({!Payment_Type} == &apos;Cheque&apos;, &apos;Received&apos;, &apos;Cleared&apos;)</expression>
    </formulas>
    <interviewLabel>Payment Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>1128</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>PaymentId</assignRecordIdToReference>
        <connector>
            <targetReference>UploadAttachment</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankName__c</field>
            <value>
                <elementReference>BankRecord.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Name__c</field>
            <value>
                <elementReference>Bank_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Status__c</field>
            <value>
                <elementReference>Cheque_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Transaction_Number__c</field>
            <value>
                <elementReference>Cheque_Transaction_Challan_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Cheque_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_By__c</field>
            <value>
                <elementReference>Paid_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <elementReference>Payment_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Description__c</field>
            <value>
                <elementReference>Payment_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <elementReference>Payment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_No__c</field>
            <value>
                <elementReference>ReceiptNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Type__c</field>
            <value>
                <elementReference>Refund_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>1304</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Payment_Details</name>
        <label>Get Duplicate Payment Details</label>
        <locationX>316</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_with_Same_Payment_Category_Cheque_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Category</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cheque_Transaction_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cheque_Transaction_Challan_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Payment</name>
        <label>Add Payment</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Payment_Amount_Validation</name>
            <fieldText>&lt;p&gt;Payment should not exceed more than total agreement value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>check_booking_stage_and_closed_reason</name>
        <label>check booking stage and closed reason</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 10, 10);&quot;&gt;You are try to debit the Amount. Your Booking stage is not in Terminated stage or Cancel Reason is not set as Terminated or Cancelled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Record_Screen</name>
        <label>Duplicate Record Screen</label>
        <locationX>184</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GST_applicable_or_not</targetReference>
        </connector>
        <fields>
            <name>Duplicate_Payment_Screen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing payment records with same payment category &amp;  Cheque/ Transaction/ Challan Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Duplicate_Payment_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-197b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Primary_Applicant__c&quot;,&quot;guid&quot;:&quot;column-f9e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Customer&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Primary Applicant&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Project_Name__c&quot;,&quot;guid&quot;:&quot;column-dcf1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Project&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Unit_Number__c&quot;,&quot;guid&quot;:&quot;column-0ed3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Unit No&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Unit Number&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Payment_Category__c&quot;,&quot;guid&quot;:&quot;column-81c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Payment Category&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Payment Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cheque_Transaction_Number__c&quot;,&quot;guid&quot;:&quot;column-3824&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cheque/ Transaction/ Challan Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Cheque/ Transaction/ Challan Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-f825&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Please fill the Narration Statement for &quot;{!Payment_Category}&quot; first at the Project: &quot;{!Get_Booking_Record.Project_Name__r.Name}&quot; to proceed with adding the payment. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GST_Not_applicable</name>
        <label>GST Not applicable</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GSTNotApplicableNote</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;GST is not applicable for this Project. Please contact your CRM Head for further queries.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Added_Screen</name>
        <label>Payment Added Screen</label>
        <locationX>1128</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PaymentProcessHandler</targetReference>
        </connector>
        <fields>
            <name>PaymentAddedMessage</name>
            <fieldText>&lt;p&gt;Payment has been added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Details</name>
        <label>Payment Details</label>
        <locationX>1304</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_Payment_Category_is_TDS_or_not</targetReference>
        </connector>
        <fields>
            <name>Payment_Type</name>
            <choiceReferences>PaymentType_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode of Payment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Category</name>
            <choiceReferences>PaymentCategory_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Refund_Type</name>
            <choiceReferences>RefundType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Refund Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbookingstage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cheque_Transaction_Challan_Number</name>
            <dataType>String</dataType>
            <fieldText>Cheque/ Transaction/ Challan Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Description</name>
            <fieldText>Payment Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BankRecord</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BankName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bank Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bank_Branch</name>
            <dataType>String</dataType>
            <fieldText>Bank Branch</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cheque_Date</name>
            <dataType>Date</dataType>
            <fieldText>Cheque Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cheque_Status</name>
            <choiceReferences>ChequeStatus_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cheque Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Paid_By</name>
            <choiceReferences>PaidBy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Paid By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TDS_Error_Screen</name>
        <label>TDS Error Screen</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TDSErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;TDS payment cannot be created from SFDC. It will be sent through SAP.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadAttachment</name>
        <label>Upload Attachment</label>
        <locationX>1128</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Unit_Payment_or_GST_Payment</targetReference>
        </connector>
        <fields>
            <name>Upload_Attachment_SC</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Payment_Record</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booking_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>fileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReceiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
