dynamix/force-app/main/default/flows/Payment_Data_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <actionName>callOutCustomerCreation</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>BookingIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>callOutCustomerCreation</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Receipt_Posting_Apex_class</name>
        <label>Receipt Posting Apex class</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <actionName>ReceiptPosting</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_current_payment_has_booking_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>transactionId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReceiptPosting</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Booking_Ids</name>
        <label>Assign Booking Ids</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>BookingIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_current_payment_has_booking_ID</name>
        <label>Check if current payment has booking ID</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Co_Applicant_Records</targetReference>
            </connector>
            <label>Payment Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_primary_is_not_processed</name>
        <label>check if primary is not processed</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Not_processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Applicant_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Booking_Ids</targetReference>
            </connector>
            <label>Primary Not processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Data_Sync_Exists</name>
        <label>If Data Sync Exists</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_Co_Applicants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Data_Sync_For_Co_Applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Data_Sync</targetReference>
            </connector>
            <label>Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Receipt_posting</name>
        <label>Is Receipt posting</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_current_payment_has_booking_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receipt_Posting_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Data_Sync_Receipt_Posting</targetReference>
            </connector>
            <label>Receipt Posting is true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Payment Data Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Data Sync</label>
    <loops>
        <name>Iterate_on_Co_Applicants</name>
        <label>Iterate on Co-Applicants</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Co_Applicant_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Data_Sync_For_Co_Applicant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_primary_is_not_processed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Data_Sync</name>
        <label>Create Data Sync</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Iterate_on_Co_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Co-Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>Iterate_on_Co_Applicants.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_Direction__c</field>
            <value>
                <stringValue>SFDC to SAP</stringValue>
            </value>
        </inputAssignments>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Data_Sync_Receipt_Posting</name>
        <label>Create Data Sync Receipt Posting</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Receipt_Posting_Apex_class</targetReference>
        </connector>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_Direction__c</field>
            <value>
                <stringValue>SFDC to SAP</stringValue>
            </value>
        </inputAssignments>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Co_Applicant_Records</name>
        <label>Get Co-Applicant Records</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_Co_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sap_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Data_Sync_For_Co_Applicant</name>
        <label>Get Existing Data Sync For Co-Applicant</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Data_Sync_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_on_Co_Applicants.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Data_Sync__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Receipt_posting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TDS</stringValue>
            </value>
        </filters>
        <filters>
            <field>EOI_CA_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BookingIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
