dynamix/force-app/main/default/flows/Qualified_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Budget_Value</name>
        <label>Get Budget Value</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <actionName>GeneratePicklist</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Qualified_Details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Budget</name>
            <value>
                <elementReference>sdf</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeneratePicklist</nameSegment>
        <outputParameters>
            <assignToReference>BudgetPicklistValue</assignToReference>
            <name>budgetPicklist</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_of_Budget</name>
        <label>Assignment of Budget</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>getEnquiry.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newBudgetPicklistValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Budget_Feilds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Enquiry</name>
        <label>Assignment of Enquiry</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>getEnquiry.Construction_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getEnquiry.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getEnquiry.Enquiry_Qualification_Tags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enquiry_Qualification_Tags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquirys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BudgetValueAssignment</name>
        <label>BudgetValueAssignment</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sdf</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Projects.Budgets__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>configurationValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Projects.Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Budget_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_of_Budget</name>
        <label>Copy 1 of Assignment of Budget</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>getEnquiry.Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedconfigurations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_of_Enquiry</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>abc</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>sdf</elementReference>
        </value>
    </choices>
    <choices>
        <name>budgetChoiceValues</name>
        <choiceText>{!Get_Budget_Value}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>None</promptText>
        </userInput>
        <value>
            <elementReference>Get_Budget_Value</elementReference>
        </value>
    </choices>
    <choices>
        <name>Budgets</name>
        <choiceText>{!Get_Budget_Value}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Budget_Value</elementReference>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Qualified</name>
        <choiceText>Non - Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non - Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Qualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>RTMI</name>
        <choiceText>RTMI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RTMI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_Construction</name>
        <choiceText>Under Construction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Under Construction</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Budget_Feilds</name>
        <label>Budget Feilds</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Budget_Feilds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newBudgetPicklistValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newBudgetPicklistValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sdf</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Budget</targetReference>
            </connector>
            <label>Budget Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project</name>
        <label>Check Project</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Project_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEnquiry.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Projects</targetReference>
            </connector>
            <label>If Project Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Budget_Feilds</name>
        <label>Copy 1 of Budget Feilds</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assignment_of_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Configuration_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedconfigurations</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedconfigurations</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Projects.Configuration__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assignment_of_Budget</targetReference>
            </connector>
            <label>Configuration Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEnquiryQualified</name>
        <label>IsEnquiryQualified</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Enquiry_not_Qualifide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EnquiryQualified</name>
            <conditionLogic>(1 AND 5) OR (2 OR 4) OR (3 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>newBudgetPicklistValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedconfigurations</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Construction_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newBudgetPicklistValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sdf</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedconfigurations</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Projects.Configuration__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Feilds</targetReference>
            </connector>
            <label>EnquiryQualified</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>hgfd</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Budgets__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!getEnquiry.Contact_Person__r.FirstName}+{!getEnquiry.Contact_Person__r.LastName}</expression>
    </formulas>
    <interviewLabel>Qualified Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Qualified Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getEnquiry</name>
        <label>getEnquiry</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Projects</name>
        <label>Projects</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BudgetValueAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEnquiry.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enquirys</name>
        <label>Update Enquiry</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Success_message</targetReference>
        </connector>
        <inputReference>getEnquiry</inputReference>
    </recordUpdates>
    <screens>
        <name>Enquiry_not_Qualifide</name>
        <label>Enquiry not Qualifide</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 13, 13);&quot;&gt;Please put the value in one of the fields. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(212, 5, 5);&quot;&gt;Project&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt; is not Selected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Qualified_Details</name>
        <label>Qualified Details</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsEnquiryQualified</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Qualification_Tags</name>
            <choiceReferences>Qualified</choiceReferences>
            <choiceReferences>Non_Qualified</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enquiry Qualification Tags</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Qualified_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Qualified_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Location__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Enquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ConfigurationCmp</name>
                    <extensionName>c:picklistConfigurationComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>flowValues</name>
                        <value>
                            <elementReference>configurationValues</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedconfigurations</assignToReference>
                        <name>flowValues</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Construction_Status</name>
                    <choiceReferences>RTMI</choiceReferences>
                    <choiceReferences>Under_Construction</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Construction Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Budget1</name>
                    <extensionName>c:PicklistCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>flowValues</name>
                        <value>
                            <elementReference>sdf</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>newBudgetPicklistValues</assignToReference>
                        <name>flowValues</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Enquiry_Qualification_Tags</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Qualified</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Enquiry_Qualification_Tags</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Non_Qualified</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_message</name>
        <label>Success message</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Qualified_Enquiry</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(115, 179, 16);&quot;&gt;Successfully {!getEnquiry.Name} Enquiry got {!Enquiry_Qualification_Tags}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEnquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>configurationValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Enquiry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enquiry__c</objectType>
    </variables>
    <variables>
        <name>newBudgetPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sdf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedconfigurations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
