dynamix/force-app/main/default/flows/RT_Send_Brokerage_Notification_on_approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Brokerage_Approved_Notification</name>
        <label>Brokerage  Approved Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserPermoterRecordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titleBrokerageApprovedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BrokerageApprovedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Brokerage_Reject_Notification</name>
        <label>Brokerage  Reject Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserRecordDataforrejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TitleRejectedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RejectedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Brokerage_Submitted_For_Approval_Notification</name>
        <label>Brokerage Submitted For Approval Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>titleBrokerageApprovalSubmittedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ApprovalSubmittedNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Site_Head_Id_rejection</name>
        <label>Assign Site Head Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserRecordDataforrejected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_projects.Site_Head__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_Promoter_Data_rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_UsersByRole</name>
        <label>Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userdata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_role_data.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_role_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Site_Head_Id</name>
        <label>Assign Site Head Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserPermoterRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_project.Site_Head__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_Promoter_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Permoter_RecordId_rejected</name>
        <label>User Permoter RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserRecordDataforrejected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_users_Promoter_Data_rejected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_Promoter_Data_rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserId</name>
        <label>UserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_users_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UserPermoterRecordId</name>
        <label>User Permoter RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserPermoterRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_users_Promoter_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_Promoter_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Users_Promoter</name>
        <label>Users Promoter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserDataPromoter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_role_Promoter_data.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_role_Promoter_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Users_Promoter_rejected</name>
        <label>Users Promoter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserdataRecordIdForrejected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_role_Promoter_data_rejected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_role_Promoter_data_rejected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If</name>
        <label>Check If</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_For_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Role</targetReference>
            </connector>
            <label>Submitted For Approval</label>
        </rules>
        <rules>
            <name>Approval_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Role_Promoter</targetReference>
            </connector>
            <label>Approval Approved</label>
        </rules>
        <rules>
            <name>Approval_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_By_Role_Promoters</targetReference>
            </connector>
            <label>Approval Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT Send Brokerage Notification on approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT Send Brokerage Notification on approval</label>
    <loops>
        <name>get_role_data</name>
        <label>get role data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_User_By_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_UsersByRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>get_role_Promoter_data</name>
        <label>get role Promoter data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_User_By_Role_Promoter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Users_Promoter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users_Promoter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>get_role_Promoter_data_rejected</name>
        <label>get role Promoter data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_User_By_Role_Promoters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Users_Promoter_rejected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users_Promoterforrejected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_users_Data</name>
        <label>Get users Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UserId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Brokerage_Submitted_For_Approval_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_users_Promoter_Data</name>
        <label>Get users Promoter Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users_Promoter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UserPermoterRecordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Brokerage_Approved_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_users_Promoter_Data_rejected</name>
        <label>Get users Promoter Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users_Promoterforrejected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_Permoter_RecordId_rejected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Brokerage_Reject_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Brokerage_Ladder_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_project</name>
        <label>Get project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Head_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_projects</name>
        <label>Get project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Site_Head_Id_rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Role</name>
        <label>Get User By Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_role_data</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S_M_Head</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Role_Promoter</name>
        <label>Get User By Role Promoter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_role_Promoter_data</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promoter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_By_Role_Promoters</name>
        <label>Get User By Role Promoters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_role_Promoter_data_rejected</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promoter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_users_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>userdata</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Promoter</name>
        <label>Get Users Promoter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>UserDataPromoter</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Promoterforrejected</name>
        <label>Get Users Promoter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>In</operator>
            <value>
                <elementReference>UserdataRecordIdForrejected</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <object>Brokerage_Ladder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovalSubmittedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Brokerage - {!$Record.Name} has been submitted for your approval. Please review and take the necessary action.</text>
    </textTemplates>
    <textTemplates>
        <name>BrokerageApprovedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Brokerage - {!$Record.Name} has been approved. Please proceed with the next steps to finalize the process.</text>
    </textTemplates>
    <textTemplates>
        <name>RejectedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Brokerage - {!$Record.Name} has been rejected. Please review the comments and make the necessary changes before resubmitting.</text>
    </textTemplates>
    <textTemplates>
        <name>titleBrokerageApprovalSubmittedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Brokerage Submitted For Approval</text>
    </textTemplates>
    <textTemplates>
        <name>titleBrokerageApprovedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Booking Approved.</text>
    </textTemplates>
    <textTemplates>
        <name>TitleRejectedNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Brokerage Rejected</text>
    </textTemplates>
    <variables>
        <name>Get_S_and_M_Head_Role</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiteHeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userdata</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserDataPromoter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserdataRecordIdForrejected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserPermoterRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRecordDataforrejected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTargetRoleId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
