dynamix/force-app/main/default/flows/Select_Customers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>rich_text.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Email_List</name>
        <label>Email List</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Enquiries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Email</name>
        <label>Single Email</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SingleEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Enquiries.Email_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Email_Already_added</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Send_via_Email</name>
        <choiceText>Send via Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send via Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_via_SMS</name>
        <choiceText>Send via SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send via SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_via_Whatsapp</name>
        <choiceText>Send via Whatsapp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send via Whatsapp</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Availability_of_Enquiries</name>
        <label>Check Availability of Enquiries</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ErrScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Related_Enquiries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Enquiries_To_Send_Email</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Email_Already_added</name>
        <label>If Email Already added</label>
        <locationX>358</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Email_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SingleEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Enquiries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_on_Email_List</name>
        <label>Null Check on Email List</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Screen</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Type_Decision</name>
        <label>Send Type Decision</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendmessagevia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Send_via_SMS</elementReference>
                </rightValue>
            </conditions>
            <label>IF SMS</label>
        </rules>
        <rules>
            <name>IF_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendmessagevia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Send_via_Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Enquiries</targetReference>
            </connector>
            <label>IF Email</label>
        </rules>
        <rules>
            <name>IF_Whatsapp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendmessagevia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Send_via_Whatsapp</elementReference>
                </rightValue>
            </conditions>
            <label>IF Whatsapp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Select Customers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Customers</label>
    <loops>
        <name>Iterate_Enquiries</name>
        <label>Iterate Enquiries</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>Enquiries.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_on_Email_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Related_Enquiries</name>
        <label>Get All Related Enquiries</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Availability_of_Enquiries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Campaign</name>
        <label>Get Current Campaign</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Enquiries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>rich_text</name>
            <extensionName>syndev:flowRichTextEditor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>richTextValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Body</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenBadInput</name>
                <value>
                    <stringValue>Must Enter The body for E-mail</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;The Selected Enquiries do not Contain Email Ids to Send the Message.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrScreen</name>
        <label>ErrScreen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!Get_Current_Campaign.Name} has no enquiries related to it. First Add Some Enquiries to it.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Enquiries_To_Send_Email</name>
        <label>Select Enquiries To Send Email</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Message_Sending_Way</targetReference>
        </connector>
        <fields>
            <name>Enquiries</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Enquiry__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Related_Enquiries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1ee1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Enquiry Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProjectName__c&quot;,&quot;guid&quot;:&quot;column-750b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Project&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Stage__c&quot;,&quot;guid&quot;:&quot;column-4149&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stage&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_of_Enquiry_Drop__c&quot;,&quot;guid&quot;:&quot;column-fc38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Date of Enquiry Drop&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Message_Sending_Way</name>
        <label>Select Message Sending Way</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>sendmessagevia</name>
            <choiceReferences>Send_via_SMS</choiceReferences>
            <choiceReferences>Send_via_Email</choiceReferences>
            <choiceReferences>Send_via_Whatsapp</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>richTextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;h1&gt;Write the Content for Email body here.&lt;/h1&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>SingleEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
