dynamix/force-app/main/default/flows/Sending_Discount_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_To_higer_Management</name>
        <label>Approval To higer Management</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_For_Discount_to_higher_Manag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_To_higer_Management_0</name>
        <label>Approval To higer Management</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_For_Discount_to_higher_Manag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_to_Site_Head</name>
        <label>Approval_to_Site_Head</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_For_Discount_to_Site_Head</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <actionName>GenerateCostSheet</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>paymentPlanId</name>
            <value>
                <elementReference>get_Record.Payment_Plan_Detail__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateCostSheet</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Base_Price</name>
        <label>Get Base Price</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <actionName>GetBasePrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Discount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>get_Record.Unit__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetBasePrice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Discount</name>
        <label>Check Discount</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Suggested_Property_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_discount_less_than_5</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FivePercentOfBasicPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FivePercentOfBasicPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Approval_Submitter__r.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property</targetReference>
            </connector>
            <label>if discount less than 5 % (Sales executive)</label>
        </rules>
        <rules>
            <name>if_discount_is_greater_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FivePercentOfBasicPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Approval_Submitter__r.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property_0</targetReference>
            </connector>
            <label>if discount is greater than 5 % Sales executive</label>
        </rules>
        <rules>
            <name>if_discount_less_than_5_Site_Head</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FivePercentOfBasicPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Approval_Submitter__r.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Site Head</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Record.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Suggested_Property_0_0_0</targetReference>
            </connector>
            <label>if discount less than 5 % (Site Head)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DiscountInPercentage</name>
        <dataType>Number</dataType>
        <expression>({!get_Record.Discount__c}/{!Get_Base_Price})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FivePercentOfBasicPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Base_Price} * 0.05</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Sending Discount Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Discount Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Record</name>
        <label>get Record</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cost_Sheet_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Suggested_Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cost_Sheet_record</name>
        <label>Update Cost Sheet record</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Base_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property</name>
        <label>Update Suggested Property</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Approval_to_Site_Head</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_percentage__c</field>
            <value>
                <elementReference>DiscountInPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Discount Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_0</name>
        <label>Update Suggested Property</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Approval_To_higer_Management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_percentage__c</field>
            <value>
                <elementReference>DiscountInPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Discount Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_0_0</name>
        <label>Update Suggested Property</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Short Listed</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Suggested_Property_0_0_0</name>
        <label>Update Suggested Property</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Approval_To_higer_Management_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Both_Approvals__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Provided__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_percentage__c</field>
            <value>
                <elementReference>DiscountInPercentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Send for Cost-Sheet Discount Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Suggested_Property__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
