dynamix/force-app/main/default/flows/Sending_Payment_Remainder_after_7_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sending_Mail</name>
        <label>Sending Mail</label>
        <locationX>644</locationX>
        <locationY>223</locationY>
        <actionName>SendThankYouEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Booking_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Payment_reminder_after_7_days_email_template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personEmailAddress</name>
            <value>
                <elementReference>Get_Booking_Records.Primary_Applicant__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendThankYouEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Ammount_is_Less_than_5</name>
        <label>If Ammount is Less than 5%</label>
        <locationX>387</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_is_less_than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Records.Total_Amount_Received__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Lessthan5percent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_Mail</targetReference>
            </connector>
            <label>Amount is less than 5%</label>
        </rules>
    </decisions>
    <formulas>
        <name>Lessthan5percent</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking_Records.Agreement_Value__c} * 0.05</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sending Payment Remainder after 7 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Payment Remainder after 7 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booking_Records</name>
        <label>Get Booking Records</label>
        <locationX>230</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Ammount_is_Less_than_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Booking_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
