dynamix/force-app/main/default/flows/Send_Booking_Form_To_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Booking_Form_To_Customer</name>
        <label>Send Booking Form To Customer</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>SendBookingFormToCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingRecodId</name>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBookingFormToCustomer</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Record_Count_Assignment</name>
        <label>Record Count Assignment</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>BookingRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Booking_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Booking_Record_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Booking_Record_Count</name>
        <label>Check For Booking Record Count</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Booking_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1_booking_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_than_1_booking_error_screen</targetReference>
            </connector>
            <label>More than 1 booking record</label>
        </rules>
        <rules>
            <name>Zero_Boking_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_booking_record_error_screen</targetReference>
            </connector>
            <label>Zero Boking record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Section_4_5_6_fields_are_filled_or_not_and_is_SM_Verified_Booking_Form</name>
        <label>Check for Section 4,5,6 fields are filled or not and is SM Verified Booking Form or not</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Send_Booking_Form_To_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Section_4_5_6_fields_are_filled_or_not</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record.Related_Suggested_Property__r.Unit__r.Flat_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Related_Opportunity__r.Apartment_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Related_Suggested_Property__r.Unit__r.RERA_Carpet_Area_in_sqmtr__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Related_Suggested_Property__r.Unit__r.RERA_Carpet_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Related_Opportunity__r.No_of_Parking_s_Spots_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking_Record.Agreement_Value__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Payment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Section_4_5_6_not_filled_screen</targetReference>
            </connector>
            <label>Check for Section 4,5,6 fields are filled or not</label>
        </rules>
        <rules>
            <name>Check_is_Booking_Form_Verified_by_SM_or_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking_Record.Related_Opportunity__r.Digital_Booking_Form_Verified_by_SM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booking_form_not_verified_by_SM_Screen</targetReference>
            </connector>
            <label>Check is Booking Form Verified by SM or Not</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Booking Form To Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Booking Form To Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_for_Payment_Record</name>
        <label>Check for Payment Record</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Section_4_5_6_fields_are_filled_or_not_and_is_SM_Verified_Booking_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Booking_Records</name>
        <label>Get All Booking Records</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Count_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Record</name>
        <label>Get Booking Record</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Booking_Form_Sent_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Form_Shared_to_Customer_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Booking_form_not_verified_by_SM_Screen</name>
        <label>Booking form not verified by SM Screen</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BoookingFormNotVerifiedBySMMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Inter, &amp;quot;Open Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(225, 43, 43); font-size: 14px;&quot;&gt;Kindly verify the form to proceed further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Booking_Form_Sent_Screen</name>
        <label>Booking Form Sent Screen</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BookingFormSentMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(15, 169, 87);&quot;&gt;Booking Form has been&amp;nbsp;Shared to Customer Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>More_than_1_booking_error_screen</name>
        <label>More than 1 booking error screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>More_than_1_booking_record_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 48, 48); font-size: 14px;&quot;&gt;For Send Booking form link to customer there should be only 1 booking record for this Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Section_4_5_6_not_filled_screen</name>
        <label>Section 4,5,6 not filled screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Section_4_5_6_missing_details_errorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Inter, &amp;quot;Open Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(225, 69, 69); font-size: 14px;&quot;&gt;Kindly fill all Mandatory Fields and Verify the Form to Proceed Further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Zero_booking_record_error_screen</name>
        <label>Zero booking record error screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Zero_booking_error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(231, 41, 41);&quot;&gt;Please add booking record on this Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Booking_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BookingRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
