dynamix/force-app/main/default/flows/Send_EOI_CA_expiry_link_Notification_to_SM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_link_Expiry_Notification_to_SM</name>
        <label>Send link Expiry Notification to SM</label>
        <locationX>275</locationX>
        <locationY>792</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SalesManagerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Sales_Manager</name>
        <label>Assignment Sales Manager</label>
        <locationX>143</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>SalesManagerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_link_Expiry_Notification_to_SM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_Sales_Manager</name>
        <label>Copy 1 of Assignment Sales Manager</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>SalesManagerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_link_Expiry_Notification_to_SM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Sales_Manager_Exist</name>
        <label>Check Sales Manager Exist</label>
        <locationX>275</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assignment_Sales_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Sales_Manager</targetReference>
            </connector>
            <label>Sales Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_EOI_is_Not_submitted</name>
        <label>If EOI is Not submitted</label>
        <locationX>473</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EOI_CA_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EOI_CA_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification</targetReference>
            </connector>
            <label>EOI/CA Stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send EOI/CA expiry link Notification to SM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send EOI/CA expiry link Notification to SM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>275</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Manager_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Source_Change_Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EOI_CA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EOI_CA_Form_Sent_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>EOI_CA_sent_after_24_hr</name>
            <connector>
                <targetReference>If_EOI_is_Not_submitted</targetReference>
            </connector>
            <label>EOI/CA sent after 24 hr</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>EOI_CA_Form_Sent_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
The {!$Record.EOI_CA_Number__c} form link shared to {!$Record.Name} for {!$Record.Project__r.Name} has expired.
Please click on the link below to re-activate it.</text>
    </textTemplates>
    <textTemplates>
        <name>subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.EOI_CA_Number__c} link is expired</text>
    </textTemplates>
    <variables>
        <name>SalesManagerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
