dynamix/force-app/main/default/flows/Site_Visit_Scheduled_on_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotificationToCustomerOnSVS</name>
        <label>SendNotificationToCustomerOnSVS</label>
        <locationX>314</locationX>
        <locationY>2738</locationY>
        <actionName>SendNotificationToCustomerOnSVS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactNumber</name>
            <value>
                <elementReference>Get_Enquiry.Project__r.Project_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Enquiry.Email_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enquiryId</name>
            <value>
                <elementReference>Get_Enquiry.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>meetingLocation</name>
            <value>
                <elementReference>Get_Enquiry.Project__r.GPS_location__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personAccountId</name>
            <value>
                <elementReference>Get_Enquiry.Contact_Person__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primaryMobileNumber</name>
            <value>
                <elementReference>Get_Enquiry.Primary_Mobile_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectName</name>
            <value>
                <elementReference>Get_Enquiry.Project__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitDate</name>
            <value>
                <elementReference>Get_Enquiry.Site_Visit_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteVisitTime</name>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendNotificationToCustomerOnSVS</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enquiry.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_0</name>
        <label>Assign Owner</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enquiry.Owner:Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_of_First_Site_Visit_Date</name>
        <label>Assign Value of First Site Visit Date</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>FirstSiteVisitDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_of_First_Site_Visit_Date_0</name>
        <label>Assign Value of First Site Visit Date</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>FirstSiteVisitDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Enquiry.First_Site_Visit_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Task_Status_To_Completed</name>
        <label>Change Task Status To Completed</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Store_Open_Task_On_List.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Store_Open_Task_On_List.Throw_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateOpenTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Store_Open_Task_On_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Open_Task_On_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Event</name>
        <label>update Event</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>For_Each_eventList.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_eventList.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateEventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_eventList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_eventList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enquiry_Stage</name>
        <label>Check Enquiry Stage</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_Not_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen</targetReference>
            </connector>
            <label>Stage is Not Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner</name>
        <label>Check Owner</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_Id_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>If Owner Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Site_Visit_Date</name>
        <label>First Site Visit Date</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Update_Enquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry.First_Site_Visit_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_of_First_Site_Visit_Date</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
        <rules>
            <name>First_SIte_Visit_Date_is_Already_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry.First_Site_Visit_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_of_First_Site_Visit_Date_0</targetReference>
            </connector>
            <label>First SIte Visit Date is Already Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SiteVisitDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Site_Visit_Date_Time})</expression>
    </formulas>
    <interviewLabel>Site Visit Scheduled on Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Scheduled on Task</label>
    <loops>
        <name>For_Each_eventList</name>
        <label>For Each eventList</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <collectionReference>eventList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Current_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Store_Open_Task_On_List</name>
        <label>Store Open Task On List</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <collectionReference>Get_Open_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Task_Status_To_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Open_Task_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Event</name>
        <label>Event</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>eventId</assignRecordIdToReference>
        <connector>
            <targetReference>eventList</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_and_Time_of_Site_Visit__c</field>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Site Visit Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Enquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_Contact_Through_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Task</name>
        <label>Task</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignRecordIdToReference>newTaskRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Open_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>SiteVisitDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_and_Time_of_Site_Visit__c</field>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventId__c</field>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ownerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up Site Visit Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_Contact_Through_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>eventList</name>
        <label>eventList</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_eventList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact_Through_Account</name>
        <label>get Contact Through Account</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Enquiry_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry.Contact_Person__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry</name>
        <label>Get Enquiry</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Contact_Through_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Task</name>
        <label>Get Open Task</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Open_Task_On_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>newTaskRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow Up Site Visit Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Current_Task</name>
        <label>update Current Task</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>update_eventList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_and_Time_of_Site_Visit__c</field>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enquiry</name>
        <label>Update Enquiry</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>SendNotificationToCustomerOnSVS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Message_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Site_Visit_c__c</field>
            <value>
                <elementReference>FirstSiteVisitDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Visit_Scheduled_Date__c</field>
            <value>
                <elementReference>Site_Visit_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Site Visit Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_eventList</name>
        <label>update eventList</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
        <inputReference>updateEventList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Task_List</name>
        <label>Update Open Task List</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>First_Site_Visit_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputReference>updateOpenTask</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Message_Screen</name>
        <label>Copy 1 of Error Message Screen</label>
        <locationX>754</locationX>
        <locationY>2738</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>1018</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Msg_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 1, 1);&quot;&gt;Site Visit cannot be scheduled on Lost Enquiry.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Owner</targetReference>
        </connector>
        <fields>
            <name>Site_Visit_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Site Visit Schedule Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 5, 5); background-color: rgb(255, 255, 255);&quot;&gt;Error!!! You cannot enter previous date/time.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!$Flow.CurrentDateTime} &lt; {!Site_Visit_Date_Time}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message</name>
        <label>Message</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(15, 144, 1);&quot;&gt;Successfully Site Visit Scheduled.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSiteVisitDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTaskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updateEventList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>updateOpenTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
