dynamix/force-app/main/default/flows/Source_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Approval_for_Change</name>
        <label>Approval for Change</label>
        <locationX>446</locationX>
        <locationY>3038</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Instance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>queueIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Opportunity_Source_Changed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <outputParameters>
            <assignToReference>instanceId</assignToReference>
            <name>instanceId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_All_User_From_Queue</name>
        <label>Get All User From Queue</label>
        <locationX>446</locationX>
        <locationY>2822</locationY>
        <actionName>GetAllUsersFromQueue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>queueName</name>
            <value>
                <elementReference>Get_queue.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetAllUsersFromQueue</nameSegment>
        <outputParameters>
            <assignToReference>userDetailList</assignToReference>
            <name>userDetail</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Salesforce_base_and_record_url</name>
        <label>Get Salesforce base and record url</label>
        <locationX>446</locationX>
        <locationY>3362</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecords</typeName>
            <typeValue>ProcessInstanceWorkitem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecords</name>
            <value>
                <elementReference>Approval_Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>varT_baseURL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_OfferFullUrl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Site_Head</name>
        <label>Send Email to Site Head</label>
        <locationX>534</locationX>
        <locationY>3578</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>assignUserId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User_Loop.emailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Source Change Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SM_Notification</name>
        <label>SM Notification</label>
        <locationX>446</locationX>
        <locationY>3878</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>receipentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Approval_Request.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignUserId</name>
        <label>assignUserId</label>
        <locationX>534</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>receipentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Loop.userRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_Id_s_to_Collection</name>
        <label>Queue Id&apos;s to Collection</label>
        <locationX>732</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>queueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changing_new_fields_value_based_on_condition</name>
        <label>Changing new fields value based on condition</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Records_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referred_by_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Walk_in_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred by Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Walk_in</targetReference>
            </connector>
            <label>Referred by other</label>
        </rules>
        <rules>
            <name>Channel_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Walk_in_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Channel Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Walk_in</targetReference>
            </connector>
            <label>Channel partner</label>
        </rules>
        <rules>
            <name>Referred_by_existing_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Walk_in_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred by Existing Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Walk_in</targetReference>
            </connector>
            <label>Referred by existing customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_referral_by_customer_is_empty_or_not</name>
        <label>check if referral by customer is empty or not</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>null_check_for_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>referal_by_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities.Referral_By_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_referal_by_customer</targetReference>
            </connector>
            <label>referal by customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_sourcing_manager_and_referral_by_customer_is_empty_or_not</name>
        <label>check if sourcing manager and referral by customer is empty or not</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>check_if_referral_by_customer_is_empty_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sourcing_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities.Sourcing_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Sourcing_manager</targetReference>
            </connector>
            <label>sourcing manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_values_Matches</name>
        <label>Check If values Matches</label>
        <locationX>1408</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_queue</targetReference>
            </connector>
            <label>Not Same</label>
        </rules>
        <rules>
            <name>In_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Display_Message</targetReference>
            </connector>
            <label>In Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Walk_IN_Source</name>
        <label>Check Walk IN Source</label>
        <locationX>732</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Display_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Walk_in_source_is_not_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Walk_in_Source</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunities.New_Source__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changing_new_fields_value_based_on_condition</targetReference>
            </connector>
            <label>Walk  in source is not same</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_content_version_is_not_empty</name>
        <label>if content version is not empty</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Update_Walk_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>content_version_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_3.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_content_deliver_record</targetReference>
            </connector>
            <label>content version not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_for_owner</name>
        <label>null check for owner</label>
        <locationX>446</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Get_All_User_From_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_opportunity_owner_is_null_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunities.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opp_owner</targetReference>
            </connector>
            <label>check opportunity owner is null or not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found</label>
        <locationX>1007</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Id_s_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>referrel_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>walkInsource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Walk_in_Source__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formula1</name>
        <dataType>String</dataType>
        <expression>IF({!Walk_in_Source} == &apos;Channel Partner&apos;, 
      &apos;Sourcing Partner :  &apos; + {!Sourcing_Partner.recordName} + BR() + BR() +
      &apos;Channel Partner :  &apos; + {!ChannelPartner.recordName}, 
      &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula2</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!Get_Opportunities.Walk_in_Source__c},
  &apos;Referred by Others&apos;,  &apos;Previous Values&apos;
  + BR() + BR() +
  &apos;Referral Type :  &apos; + TEXT({!Get_Opportunities.Referral_Type__c})+ BR() + BR() +
  &apos;Referral Name  :  &apos; + {!Get_Opportunities.Referral_Name__c} + BR() + BR() +
  &apos;Referral Mobile Number  :  &apos; + {!Get_Opportunities.Referral_Mobile_Number__c}, 
  &apos;Referred by Existing Customer&apos;, &apos;Previous Values&apos;
  + BR() + BR() +
  &apos;Referral By Customer  :  &apos; +{!get_referal_by_customer.Name},
  &apos;Channel Partner&apos;, &apos;Previous Values&apos;
  + BR() + BR() +
  &apos;Sourcing Partner :  &apos; + {!get_Sourcing_manager.Name} + BR() + BR() +
  &apos;Channel Partner :  &apos; + {!Get_Opportunities.Channel_Partner__r.Name},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>formula3</name>
        <dataType>String</dataType>
        <expression> IF({!Walk_in_Source} == &apos;Referred by Existing Customer&apos;, &apos;Referral By Customer  :  &apos; + {!Referral_By_Customer.recordName}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula4</name>
        <dataType>String</dataType>
        <expression>IF({!Walk_in_Source} == &apos;Referred by Others&apos;, 
       &apos;Referral Type :  &apos; + {!Referral_Type}+ BR() +BR() +
       &apos;Referral Name  :  &apos; + {!Referral_Name} + BR() +BR() +
       &apos;Referral Mobile Number  :  &apos; +{!Referral_mobile_number.value}, 
       &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Source Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Source Change</label>
    <loops>
        <name>User_Loop</name>
        <label>User Loop</label>
        <locationX>446</locationX>
        <locationY>3470</locationY>
        <collectionReference>userDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_to_Site_Head</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SM_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_content_deliver_record</name>
        <label>Create content deliver record</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Get_content_delivery</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>Get_Records_3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Records_3.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesLinkLatestVersion</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesPasswordRequired</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Approval_Request</name>
        <label>Approval Request</label>
        <locationX>446</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salesforce_base_and_record_url</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Instance.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>custom_Notification</name>
        <label>custom Notification</label>
        <locationX>446</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_for_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Source Change Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_content_delivery</name>
        <label>Get content delivery</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Walk_in</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_content_deliver_record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_owner</name>
        <label>Get opp owner name</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_User_From_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>1408</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_values_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_queue</name>
        <label>Get queue</label>
        <locationX>1007</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S_M_Head</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_3</name>
        <label>Get Records for content version</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_content_version_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Supporting_Documents_for_Source_Change.contentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_referal_by_customer</name>
        <label>get referal by customer</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_for_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.Referral_By_Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Sourcing_manager</name>
        <label>get Sourcing manager</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_referral_by_customer_is_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.Sourcing_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Instance</name>
        <label>Instance</label>
        <locationX>446</locationX>
        <locationY>3146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Walk_in</name>
        <label>Copy 1 of Update Walk-in</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Records_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>new_referral_mobile_number__c</field>
            <value>
                <elementReference>Referral_mobile_number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>new_referral_name__c</field>
            <value>
                <elementReference>Referral_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>new_referrral_type__c</field>
            <value>
                <elementReference>Referral_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Walk_in</name>
        <label>Copy 2 of Update Walk-in</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Records_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>new_channel_partner__c</field>
            <value>
                <elementReference>ChannelPartner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>new_sourcing_partner__c</field>
            <value>
                <elementReference>Sourcing_Partner.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Walk_in</name>
        <label>Copy 3 of Update Walk-in</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Records_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>new_referral_by_customer__c</field>
            <value>
                <elementReference>Referral_By_Customer.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Content_Version</name>
        <label>Update Content Version</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>check_if_sourcing_manager_and_referral_by_customer_is_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Supporting_Documents_for_Source_Change.contentVersionIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Source Change Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SObjectType__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Walk_in</name>
        <label>Update Walk-in</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Update_Content_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Linked_Document_for_Source_Change__c</field>
            <value>
                <elementReference>Get_content_delivery.DistributionPublicUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Source__c</field>
            <value>
                <elementReference>Walk_in_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Source_Change__c</field>
            <value>
                <elementReference>Reason_For_Source_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Display_Message</name>
        <label>Copy 1 of Display Message</label>
        <locationX>1546</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 70, 6);&quot;&gt;Source change request is already in Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(80, 111, 81);&quot;&gt;Walk-in-Source is Same as Input Value&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Value</name>
        <label>Get Value</label>
        <locationX>732</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Walk_IN_Source</targetReference>
        </connector>
        <fields>
            <name>Walk_in_Source</name>
            <choiceReferences>walkInsource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunities.Walk_in_Source__c</elementReference>
            </defaultValue>
            <fieldText>Walk-in-Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChannelPartner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Channel_Partner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Channel Partner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunities.Channel_Partner__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Channel Partner</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sourcing_Partner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Sourcing_Manager__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sourcing Partner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Channel Partner	</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_By_Customer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referral_By_Customer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Referral By Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunities.Referral_By_Customer__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred by Existing Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunities.Referral_Name__c</elementReference>
            </defaultValue>
            <fieldText>Referral Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred by Others</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Type</name>
            <choiceReferences>referrel_type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunities.Referral_Type__c</elementReference>
            </defaultValue>
            <fieldText>Referral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred by Others</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_mobile_number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Referral Mobile Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>Get_Opportunities.Referral_Mobile_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Referred by Others</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_For_Source_Change</name>
            <dataType>String</dataType>
            <fieldText>Reason For Source Change</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Opportunities.Walk_in_Source__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Supporting_Documents_for_Source_Change</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supporting Documents for Source Change</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunities.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>contentversionIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Walk_in_Source</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Opportunities.Walk_in_Source__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1282</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!get_opp_owner.Name}Dear {!User_Loop.userId},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We would like to inform you about a recent source change request associated with an opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Get_Opportunities.Name}&lt;/p&gt;&lt;p&gt;Project: {!Get_Opportunities.Project__r.Name}&lt;/p&gt;&lt;p&gt;Current Source: {!Get_Opportunities.Walk_in_Source__c}&lt;/p&gt;&lt;p&gt;Requested Source: {!Walk_in_Source}&lt;/p&gt;&lt;p&gt;Comments: {!Reason_For_Source_Change}&lt;/p&gt;&lt;p&gt;{!formula1}&lt;/p&gt;&lt;p&gt;{!formula3}&lt;/p&gt;&lt;p&gt;{!formula4}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Formula2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Thank you for your prompt attention to this matter. If you have any questions or require further information, please do not hesitate to contact us.&lt;/p&gt;&lt;p&gt;Please Click Here:- &lt;a href=&quot;{!varT_OfferFullUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varT_OfferFullUrl}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Warm Regards,&lt;/p&gt;&lt;p&gt;{!get_opp_owner.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Approval Request for source has sent for Opportunity {!Get_Opportunities.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Source Change Request for{!Get_Opportunities.Name}</text>
    </textTemplates>
    <variables>
        <name>approvalUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentversionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>instanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>receipentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userDetailList</name>
        <apexClass>UserDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_baseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_OfferFullUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
