dynamix/force-app/main/default/flows/Track_time_spent_in_each_stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_Stage</name>
        <label>Checking Stage</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Time_Spent_in_New_Enquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Duration_Time</targetReference>
            </connector>
            <label>Time Spent in New Enquiry</label>
        </rules>
        <rules>
            <name>Time_Spent_in_Contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Status_Duration_Time</targetReference>
            </connector>
            <label>Time Spent in Contacted</label>
        </rules>
        <rules>
            <name>Time_Spent_in_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_Status_Duration_Time</targetReference>
            </connector>
            <label>Time Spent in Interested</label>
        </rules>
        <rules>
            <name>Time_Spent_in_SiteVisitScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Status_Duration_Time</targetReference>
            </connector>
            <label>Time Spent in SiteVisitScheduled</label>
        </rules>
        <rules>
            <name>TimeSpentinSiteVisitDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Visit Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Status_Duration_Time</targetReference>
            </connector>
            <label>Time Spent in SiteVisitDone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateStatusDurationForNewEnquiryInDays</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!$Record.CreatedDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateStatusDurationForNewEnquiryInHours</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!$Record.CreatedDate})*24</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatingAge</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Stage__c}) + &quot; : &quot; &amp; TEXT({!CalculatingStatusDurationInHours}) &amp; &quot; Hours&quot;</expression>
    </formulas>
    <formulas>
        <name>CalculatingAgeForNewEnquiry</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Stage__c}) + &quot; : &quot; &amp; TEXT({!CalculateStatusDurationForNewEnquiryInHours}) &amp; &quot; Hours&quot;</expression>
    </formulas>
    <formulas>
        <name>CalculatingStatusDurationInDays</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!$Record__Prior.Last_Status_Change__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatingStatusDurationInHours</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!$Record__Prior.Last_Status_Change__c})*24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Track time spent in each stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track time spent in each stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Set_Last_Status_Change_with_Current_DateTime</name>
        <label>Copy 1 of Set Last Status Change with Current DateTime</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent_in_Contacted_Stage__c</field>
            <value>
                <elementReference>CalculatingAge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Status_Duration_Time</name>
        <label>Copy 1 of Set Status Duration Time</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Copy_1_of_Set_Last_Status_Change_with_Current_DateTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Duration__c</field>
            <value>
                <elementReference>CalculatingStatusDurationInHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Set_Last_Status_Change_with_Current_DateTime</name>
        <label>Copy 2 of Set Last Status Change with Current DateTime</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent_in_SiteVisitScheduled_Stage__c</field>
            <value>
                <elementReference>CalculatingAge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Set_Status_Duration_Time</name>
        <label>Copy 2 of Set Status Duration Time</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Copy_2_of_Set_Last_Status_Change_with_Current_DateTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Duration__c</field>
            <value>
                <elementReference>CalculatingStatusDurationInHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Set_Last_Status_Change_with_Current_DateTime</name>
        <label>Copy 3 of Set Last Status Change with Current DateTime</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent_in_SiteVisitDone_Stage__c</field>
            <value>
                <elementReference>CalculatingAge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Set_Status_Duration_Time</name>
        <label>Copy 3 of Set Status Duration Time</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Copy_3_of_Set_Last_Status_Change_with_Current_DateTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Duration__c</field>
            <value>
                <elementReference>CalculatingStatusDurationInHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Set_Last_Status_Change_with_Current_DateTime</name>
        <label>Copy 4 of Set Last Status Change with Current DateTime</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent_in_Interested_Stage__c</field>
            <value>
                <elementReference>CalculatingAge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Set_Status_Duration_Time</name>
        <label>Copy 4 of Set Status Duration Time</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Copy_4_of_Set_Last_Status_Change_with_Current_DateTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Duration__c</field>
            <value>
                <elementReference>CalculatingStatusDurationInHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Last_Status_Change_with_Current_DateTime</name>
        <label>Set Last Status Change with Current DateTime</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Last_Status_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Spent_in_New_Enquiry_Stage__c</field>
            <value>
                <elementReference>CalculatingAgeForNewEnquiry</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_Duration_Time</name>
        <label>Set Status Duration Time</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Set_Last_Status_Change_with_Current_DateTime</targetReference>
        </connector>
        <inputAssignments>
            <field>Status_Duration__c</field>
            <value>
                <elementReference>CalculateStatusDurationForNewEnquiryInHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Enquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
