dynamix/force-app/main/default/flows/Update_TDS_Received_for_PAyment_Milestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_TDS</name>
        <label>Send Email for TDS</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Total_Amount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Booking__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EMailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Total_Amount</name>
        <label>Assign Total Amount</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PendingAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_On_the_Basis_of_Sequence_No</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_records_to_List</name>
        <label>Assign Updated records to List</label>
        <locationX>264</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>PaymentMilestonestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentMilestoneIndividualRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pnding_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clearing_the_existing_received_value</name>
        <label>Clearing the existing received value</label>
        <locationX>396</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>PaymentMilestoneIndividualRec.TDS_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Payment_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Updated_records_to_List</name>
        <label>Copy 1 of Assign Updated records to List</label>
        <locationX>528</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>PaymentMilestonestoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PaymentMilestoneIndividualRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Pnding_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Pnding_Amount</name>
        <label>Copy 1 of Pnding Amount</label>
        <locationX>528</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>PendingAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>PendingAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clearing_the_existing_received_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Milestone_Fields_to_Update_if_for_Default</name>
        <label>Payment Milestone Fields to Update if for Default</label>
        <locationX>528</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>PaymentMilestoneIndividualRec.TDS_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addPendingAmountToTdsReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentMilestoneIndividualRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Payment_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Updated_records_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Milestone_Fields_to_Update_if_Greater</name>
        <label>Payment Milestone Fields to Update if Greater</label>
        <locationX>264</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>PaymentMilestoneIndividualRec.TDS_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addTDSPendingToTDSReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentMilestoneIndividualRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Payment_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Updated_records_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pnding_Amount</name>
        <label>Pnding Amount</label>
        <locationX>264</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>PendingAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>For_Each_Payment_Milestone.TDS_Pending__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clearing_the_existing_received_value</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_On_the_Basis_of_Sequence_No</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort On the Basis of Sequence No</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Payment_Milestones</collectionReference>
        <connector>
            <targetReference>For_Each_Payment_Milestone</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Milestone_Activation_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Sequence_No__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Chack_TDS_Pending_Less_than_Reciedved_Payment</name>
        <label>Chack TDS Pending Less than Reciedved Payment</label>
        <locationX>396</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Payment_Milestone_Fields_to_Update_if_for_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Payment_Milestone.TDS_Pending__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PendingAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Milestone_Fields_to_Update_if_Greater</targetReference>
            </connector>
            <label>Less</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chack_TDS_Pending_or_Not</name>
        <label>Chack TDS Pending or Not</label>
        <locationX>594</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>For_Each_Payment_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Payment_Milestone.TDS_Pending__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chack_TDS_Pending_Less_than_Reciedved_Payment</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pending_Amount</name>
        <label>Check Pending Amount</label>
        <locationX>781</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Payment_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amount_left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PendingAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chack_TDS_Pending_or_Not</targetReference>
            </connector>
            <label>Amount left</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>addPendingAmountToTdsReceived</name>
        <dataType>Currency</dataType>
        <expression>{!For_Each_Payment_Milestone.TDS_Received__c}+{!PendingAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>addTDSPendingToTDSReceived</name>
        <dataType>Currency</dataType>
        <expression>{!For_Each_Payment_Milestone.TDS_Received__c}+{!For_Each_Payment_Milestone.TDS_Pending__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update TDS Received for PAyment Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update TDS Received for PAyment Milestones</label>
    <loops>
        <name>For_Each_Payment_Milestone</name>
        <label>For Each Payment Milestone</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Payment_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Pending_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payment_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Milestones</name>
        <label>Get Payment Milestones</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_for_TDS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Milestones__c</object>
        <sortField>Milestone_Activation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Milestones</name>
        <label>Update Payment Milestones</label>
        <locationX>176</locationX>
        <locationY>1955</locationY>
        <inputReference>PaymentMilestonestoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TDS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EMailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Booking__r.Owner:User.FirstName}

TDS Receipt has been generated for the following Booking: {!$Record.Booking__r.Name}.

Thank You</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TDS Receipt generated</text>
    </textTemplates>
    <variables>
        <name>PaymentMilestoneIndividualRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Milestones__c</objectType>
    </variables>
    <variables>
        <name>PaymentMilestonestoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_Milestones__c</objectType>
    </variables>
    <variables>
        <name>PendingAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
