dynamix/force-app/main/default/flows/Update_Campaign_Status_on_StartDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Single_Campaign_to_List</name>
        <label>Assign Single Campaign to List</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>CampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Campaign</name>
        <label>Single Campaign</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>CampaignRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Campaign_to_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Campaign Status on StartDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Campaign Status on StartDate</label>
    <loops>
        <name>Iterate_Campaign</name>
        <label>Iterate Campaign</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_All_Campaigns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Campaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Campaigns_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Campaigns</name>
        <label>Get All Campaigns</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaigns_Status</name>
        <label>Update Campaigns Status</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>CampaignList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Campaigns</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-12</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CampaignList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
