dynamix/force-app/main/default/flows/Update_Remaining_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Milestone_Amount_left</name>
        <label>Milestone Amount left</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ReminingMilestoneAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.TDS_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Remaining</name>
        <label>Milestone Remaining</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ReminingMilestoneAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Remaining_Milestone_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Milestone_Amount_left</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Remaining Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Remaining Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Milestone_Pending</name>
        <label>Update Milestone Pending</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Remaining_Milestone_Amount__c</field>
            <value>
                <elementReference>ReminingMilestoneAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Milestone_Remaining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TDS_Received__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TDS_Received__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Payment_Milestones__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReminingMilestoneAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
