dynamix/force-app/main/default/flows/Update_Receipt_Number_If_Null.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Receipt_Number</name>
        <label>Assign Receipt Number</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>receiptNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Setting.LastReceiptNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Custom_Setting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Payment_Receipt_No</name>
        <label>Check If Payment Receipt No</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Receipt_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Setting</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>increaseReceiptNumber</name>
        <dataType>Number</dataType>
        <expression>{!Get_Custom_Setting.LastReceiptNumber__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Receipt Number If Null {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Receipt Number If Null</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Setting</name>
        <label>Get Custom Setting</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Receipt_Number</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReceiptNumber__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Custom_Setting</name>
        <label>Update Custom Setting</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Payment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Custom_Setting.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastReceiptNumber__c</field>
            <value>
                <elementReference>increaseReceiptNumber</elementReference>
            </value>
        </inputAssignments>
        <object>ReceiptNumber__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Record</name>
        <label>Update Payment Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Receipt_No__c</field>
            <value>
                <elementReference>receiptNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Payment_Receipt_No</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>receiptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
