dynamix/force-app/main/default/flows/Update_Category_According_to_Conversion_and_Inventory_Percentage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Category_P1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Values</name>
        <label>Copy 1 of Assign Values</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elite</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Category_Elite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Values</name>
        <label>Copy 2 of Assign Values</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Category_P2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Values</name>
        <label>Copy 3 of Assign Values</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValueToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ValueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Category_P3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Available_Inventory</name>
        <label>Count Available Inventory</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AvailableInventory</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Count_Property_Available</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Booking_Conversion</name>
        <label>Check Booking Conversion</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Elite</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Conversion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Values</targetReference>
            </connector>
            <label>Elite</label>
        </rules>
        <rules>
            <name>P1</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Conversion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking_Conversion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values</targetReference>
            </connector>
            <label>P1</label>
        </rules>
        <rules>
            <name>P2</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Conversion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking_Conversion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Values</targetReference>
            </connector>
            <label>P2</label>
        </rules>
        <rules>
            <name>P3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalkInsInventoryAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Values</targetReference>
            </connector>
            <label>P3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>WalkInsInventoryAvailable</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Walk_IN_s__c}/{!AvailableInventory})*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Category According to Conversion and Inventory Perscentage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Category According to Conversion and Inventory Percentage</label>
    <loops>
        <name>To_Count_Property_Available</name>
        <label>To Count Property Available</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Property</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Available_Inventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Booking_Conversion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Property</name>
        <label>Get Property</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Count_Property_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Category_Elite</name>
        <label>Update Category Elite</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>RecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Category_P1</name>
        <label>Update Category P1</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputReference>RecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Category_P2</name>
        <label>Update Category P2</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <inputReference>RecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Category_P3</name>
        <label>Update Category P3</label>
        <locationX>842</locationX>
        <locationY>947</locationY>
        <inputReference>RecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Property</targetReference>
        </connector>
        <object>Channel_Partner_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableInventory</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Partner_Project__c</objectType>
    </variables>
    <variables>
        <name>ValueToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Partner_Project__c</objectType>
    </variables>
</Flow>
