dynamix/force-app/main/default/flows/Updating_Co_applicant_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Updating Co-applicant Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updating Co-applicant Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>325</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Applicant.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Applicant</name>
        <label>Get Co Applicant</label>
        <locationX>187</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Co_Applicant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>481</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Update_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aadhar_Number__c</field>
            <value>
                <elementReference>Get_Account.Aadhar_No__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>Get_Account.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Get_Account.Gender__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>Get_Account.PersonMailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>Get_Account.PersonMailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State_Province__c</field>
            <value>
                <elementReference>Get_Account.PersonMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Street__c</field>
            <value>
                <elementReference>Get_Account.PersonMailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Get_Account.PersonMailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Get_Account.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_City__c</field>
            <value>
                <elementReference>Get_Account.PersonOtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Country__c</field>
            <value>
                <elementReference>Get_Account.PersonOtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_State_Province__c</field>
            <value>
                <elementReference>Get_Account.PersonOtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Street__c</field>
            <value>
                <elementReference>Get_Account.PersonOtherStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Get_Account.PersonOtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Number__c</field>
            <value>
                <elementReference>Get_Account.PAN_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>Co_Applicant__c</object>
    </recordUpdates>
    <screens>
        <name>Update_Notification</name>
        <label>Update Notification</label>
        <locationX>702</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 18px; color: rgb(170, 221, 150);&quot;&gt;Update successfully&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Co_Applicant</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
